﻿#BaoSearchIndex{width:980px;margin:0 auto}
#BaoSearchIndexLefft{width:230px;float:left;position:relative;}
#BaoSearchIndexRight{width:730px;float:right;position:relative;background-color:#fff}


#SearchIndex{width:730px;float:left}
#SearchIndex .tab_org{ position: relative;width: 730px;  }
#SearchIndex .tab_r_blue{position: absolute;top: 0;right:-5px;height: 35px;width: 5px}
#SearchIndex .tab_l_blue{position: absolute}
#SearchIndex .tab_l_blue a{font: bold 12px Arial;color: #fff;display: block;line-height: 30px;padding-left: 20px;text-transform: uppercase}
#SearchIndex .tab_org a.ttlHome{ font: bold 12px Arial;color: #fff;display: block;line-height: 30px;padding-left: 12px;float: left}
#SearchIndex .tab_org a.ttlGroup{ font: bold 12px Arial;color: #fff;display: block;line-height: 30px;float: left}
#SearchIndex .tab_org .ttlCate{ font: bold 12px Arial;color: #fff;display: block;line-height: 30px;float: left}
#SearchIndex .ArrowRoad{ background: url(../images/ArrowRoad.png) center 13px no-repeat;height: 30px;width: 37px;display: block;float: left}

#SearchIndex .bControl{ }

#SearchIndex .FormatContainBoxSearch{background-color: #f1f1f1;}
#SearchIndex .SizeContainBoxSearch{width: 980px}
#SearchIndex .PdContainBoxSearch{width:710px;padding:0 10px;float:left;position:relative;}
.RightSeach{width:230px;float:right;position:relative;top:-10px}
#SearchIndex .FlTbSearch{ float: left;width: 370px}
#SearchIndex .CssTbKeySearch{ width: 360px;height: 24px}
#SearchIndex .FlddlSearch{ float: left;width: 170px}
#SearchIndex .CssDdlCateSearch{ width: 160px;height: 30px;line-height:30px;padding-top:6px}
#SearchIndex .FlBtnSearch{ float: left;width: 100px}
#SearchIndex a.BtnSearch{display: block; background: url(BtnSearch.png) no-repeat;width: 74px;height: 29px;text-decoration: none}
#SearchIndex a.BtnSearch:hover{ background: url(../images/BtnSearchHover.png) no-repeat;width: 76px;height: 31px}


#SearchIndex .MesResult{font: normal 12px Tahoma;color: #333;padding-top: 20px;padding-bottom:20px}
#SearchIndex .SpaceAllResult{ background-color: #dedede;height: 1px}
#SearchIndex a.TitleItem,a.TitleItem:hover{ font: normal 14px Tahoma;color: #1122d1;text-decoration: underline;display: block}
#SearchIndex .LinkItem{ font: normal 12px Tahoma;color: #009933;display: block}
#SearchIndex .DescItem{ font: normal 12px Tahoma;color: #222;text-align: justify}
#SearchIndex .TextFooter{ font: normal 12px Arial;color: #444;line-height: 20px}
#SearchIndex .PriceItem{ font: bold 12px Arial;color: #cf0000}
#SearchIndex .TxtNormal{ font: normal 12px Arial;padding-bottom: 10px}


#SearchIndex .khungAnh{float:left;width:100px;height:60px;margin-right: 10px;padding:3px;border: 1px solid #e1e1e1;clear: both;background: #f9f9f9}
#SearchIndex .khungAnh .khungAnhCrop{width:100px;height:60px}
#SearchIndex .boxItem{ margin-bottom: 15px;overflow: hidden}


#SearchIndex .roads{position:relative;z-index:1;overflow:hidden;}
#SearchIndex .road{height:29px;padding-left:20px}

#SearchIndex .road a.lv1{font: 14px/27px Times New Roman;color: #333;line-height: 29px;}
#SearchIndex a.arrow{padding-left:22px;background:url(../images/arrowr.gif) no-repeat 8px 6px}
#SearchIndex .road a.lv1:hover{color:#e80065}
#SearchIndex .hoa{ background: url(../images/undertitle.jpg) no-repeat;height: 40px;margin-left: 50px}
#SearchIndex .color{ color: #df357e !important}


#SearchIndex .SplitPages a { display:block;float:left;width:25px;text-align:center;color:black; height:19px;padding-top:5px; margin-right:5px;background-color:#f2f2f2;border:1px solid #dddddd}
#SearchIndex .SplitPages a.dau{display:none}
#SearchIndex .SplitPages a.truoc{display:none}
#SearchIndex .SplitPages a.cuoi{background:url(../images/trangcuoi.png) no-repeat;display:block;width:90px;height:26px;border:none}
#SearchIndex .SplitPages a.sau{background:url(../images/sau.png) no-repeat;width:27px;height:26px;border:none}
#SearchIndex .SplitPages a.hientai{background-color:#278fcf;border:none;width:27px;padding-top:6px;height:21px;color:white;}
#SearchIndex .pagging .textpagging{float:right;color:#757575;font-style:italic;padding-top:5px}
#SearchIndex .SplitPages {margin-top:10px;}