.giohang table{margin: 10px auto; border-collapse: collapse; width: 98%; color: #292929;}
.giohang table tr th{padding: 6px 0px ; border: 1px solid #666666;}
.giohang table tr td{padding: 3px 0px; border: 1px solid #666666; text-align: center;}
#form table th {text-align: right; padding: 10px 5px; width: 150px;}
#form table td {padding: 3px 0;}
#form table td input,#form table td select{
    width: 280px;
    height: 30px;
    padding: 0px 10px;
    margin-left: 10px;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 5px;
}
#form table td input[type="submit"]{
    border-radius: 4px;
     background: teal;
    box-shadow: 0 6px 0px #006262;
    color: white;
    font-weight: bold;
    margin: 10px;
    width: 130px;
    height: 28px;
    text-transform: uppercase;
}
#form table td input[type="submit"]:hover{
   
    background: #d47a30;
    border-radius: 4px;
    box-shadow: 0 6px 0px #A65300;
}
#form table td textarea{
    width: 290px;
    height: 30px;
    padding: 0px 10px;
    margin-left: 10px;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 5px;
    padding-right: 0px;
}
a.mua:visited,a.mua:link{
    float: left;
    padding: 4px 7px;
    background: #d47a30;
    border-radius: 4px;
    box-shadow: 0 6px 0px #A65300;
    color: white;
    margin-left: 2px;
    font-weight: bold;
}
a.mua:hover{
    background: teal;
box-shadow: 0 6px 0px #006262;
}
.tabs .noidungtab table td{width: auto; text-align: center;}
h3.titcart{
    background: url('image/tabs.png') repeat-x scroll 0px -3px transparent;
height: 30px;
line-height: 34px;
padding-left: 10px;
}