#ProductCategory .Nhomsanpham .chuacosanpham{display:block;text-align:center;width:730px;height:200px;background-color:white;margin-top:100px;}
#ContentLoad{background-color:white;}
#ProductCategory .tieudeSPcungloai{color:#c7003d;padding-top:20px;padding-left:20px;}
#ProductCategory .leftslidebar{min-width:220px;width:22%;float:left;margin-top:5px;}
#ProductCategory{display:block;min-width:730px;width:100%;margin:0 auto;}
#ProductCategory .Nhomsanpham{min-width:730px;width:100%;float:right;}
#ProductCategory .Nhomsanpham .cate{min-width:730px;width:100%;height:24px;z-index:50;color:black;position:relative;margin-bottom:10px;}
#ProductCategory .Nhomsanpham .listNews{padding-bottom:20px;background-color:white;padding:0 13px;;padding-top:5px;}
#ProductCategory .Nhomsanpham .cate a{font-size:16px;font-family:'robotocondensedbold';float:left;color:#333;text-transform:uppercase;}
#ProductCategory .Nhomsanpham .khungAnh{
    width:162px;height:120px;
    background:url(../images/product_bg22.png) no-repeat;
    background-position:bottom;
    position:relative;
    margin:0 auto;border:1px solid #fff;
    outline:1px solid #ededed;}
#ProductCategory .Nhomsanpham .khungAnhCrop{width:162px;height:120px;}
#ProductCategory .Nhomsanpham a.title{
    color:black;display:block;max-height:40px;
    min-height:38px;overflow:hidden;line-height:19px;
    margin:0 auto;padding-top:10px;padding-left:1px;padding-right:5px;
    font-family:'robotocondensed';font-size:14px;}
#ProductCategory .Nhomsanpham a.title:hover{color:#4d9eff;}
#ProductCategory .Nhomsanpham a.namesanpham{text-align:center;color:black;display:block;margin:0 auto;text-transform:uppercase;padding-top:10px;}
#ProductCategory .Nhomsanpham a.namesanpham:hover{color:#005aae;}
#ProductCategory .Nhomsanpham a.detail{color:#e92445;}
#ProductCategory .Nhomsanpham .baosanpham{display:block;width:167px;height:215px;float:left;position:relative;margin-right:12px;}
#ProductCategory .Nhomsanpham .thutu3{margin-right:0;}
#ProductCategory .Nhomsanpham span.xemthem{display:block;text-transform:lowercase;font-family:Arial;font-size:12px;position:absolute;right:20px;color:black;}
#ProductCategory .Nhomsanpham .baosanpham .button{display:block;background-color:#6a1b60;width:114px;height:27px;border:none;color:white;
    font-family:Arial;font-size:12px;font-weight:bold;margin-left:61px;margin-top:5px;cursor:pointer;}
#ProductCategory .Nhomsanpham .baosanpham .button:hover{color:red;}
#ProductCategory .Nhomsanpham .baosanpham:hover .khungAnh{outline:1px solid #4d9eff;}
#ProductCategory .Nhomsanpham .baosanpham:hover .title{color:#4d9eff;}
#ProductCategory .Nhomsanpham .baosanpham span{
    display:block;font-family:Arial;font-size:12px;font-weight:bold;margin-top:5px;}
#ProductCategory .Nhomsanpham .baosanpham .giasp{
    font-family:'robotocondensed';font-size:14px;background:url(../images/vachnhomsptrangchu.png) repeat-x left top;
    padding-top:7px;margin-top:6px;}
#ProductCategory .Nhomsanpham .baosanpham .giasp b{color:red;font-weight:normal;font-family:"robotocondensedbold";}
#ProductCategory .Nhomsanpham .baosanpham .anhthuoctinh{
    position:absolute;right:10px;top:0;width:27px;height:49px;z-index:5;}
#ProductCategory .Nhomsanpham .vach{
    height:7px;float:left;width:200px;
    margin-left:15px;background:url(../images/bg_vach1.png) no-repeat left center;
    background-color:#5ca5fc;margin-top:9px;}
#ProductCategory .Nhomsanpham .xemtiep{
    display:block;width:70px;height:14px;background:url(../images/xemtiep.png);
    position:absolute;right:0;top:5px;}
#ProductCategory .Nhomsanpham .xemtiep:hover{background:url(../images/xemtiep_hover.png);}
#ProductCategory .Nhomsanpham .tronglist{padding-bottom:10px;padding-top:10px;}
#ProductCategory .Nhomsanpham .bgkhong{background:none;}
#ProductCategory .baosanphamindex{margin-bottom:15px;}
#ProductCategory{background:#fff;}
#ProductCategory .pagging{margin:0 12px 10px;}
#ProductCategory .SplitPages a{display:block;float:left;width:25px;text-align:center;color:black;height:19px;padding-top:5px;
    margin-right:5px;background-color:#f2f2f2;border:1px solid #ddd;}#ProductCategory .SplitPages a.dau{display:none;}
#ProductCategory .SplitPages a.truoc{display:none;}
#ProductCategory .SplitPages a.cuoi{background:url(../images/trangcuoi.png) no-repeat;
    display:block;width:90px;height:26px;border:none;}
#ProductCategory .SplitPages a.sau{background:url(../images/sau.png) no-repeat;width:27px;height:26px;border:none;}
#ProductCategory .SplitPages a.hientai{background-color:#4d9eff;border:none;width:27px;padding-top:6px;height:20px;color:white;}
#ProductCategory .pagging .textpagging{color:#666;float:right;margin-top:20px;font-style:italic;}
#ProductCategory .SplitPages{margin-top:10px;}#ProductCategory .emptyresult{text-align:center;margin:40px 0;}
#ProductIndex .Nhomsanpham .chuacosanpham{display:block;text-align:center;width:730px;height:200px;background-color:white;margin-top:100px;}
#ContentLoad{background-color:white;}
#ProductIndex .tieudeSPcungloai{color:#c7003d;padding-top:20px;padding-left:20px;}
#ProductIndex .leftslidebar{min-width:220px;width:22%;float:left;margin-top:5px;}
#ProductIndex{display:block;min-width:730px;width:100%;margin:0 auto;}
#ProductIndex .Nhomsanpham{min-width:730px;width:100%;float:right;}
#ProductIndex .Nhomsanpham .cate{min-width:730px;width:100%;height:33px;z-index:50;color:black;position:relative;background:#fff;
    border-bottom:2px solid #4d9eff;}#ProductIndex .Nhomsanpham .listNews{padding-bottom:20px;background-color:white;padding:0 13px;padding-top:5px;}
#ProductIndex .Nhomsanpham .cate a{line-height:36px;color:#fff;font-size:16px;font-family:'robotocondensedbold';
    float:left;text-transform:uppercase;background:url(../images/bg_cate.png) no-repeat left center;
    height:35px;padding:0 70px 0 10px;background-size:100% 100%;}
#ProductIndex .Nhomsanpham .khungAnh{width:162px;height:120px;
    background:url(../images/product_bg22.png) no-repeat;
    background-position:bottom;position:relative;margin:0 auto;border:1px solid #fff;outline:1px solid #ededed;}
#ProductIndex .Nhomsanpham .khungAnhCrop{width:162px;height:120px;}
#ProductIndex .Nhomsanpham a.title{color:black;display:block;max-height:40px;min-height:38px;overflow:hidden;line-height:19px;
    margin:0 auto;padding-top:10px;padding-left:1px;padding-right:5px;font-family:'robotocondensed';font-size:14px;}
#ProductIndex .Nhomsanpham a.title:hover{color:#4d9eff;}
#ProductIndex .Nhomsanpham a.namesanpham{text-align:center;color:black;display:block;margin:0 auto;text-transform:uppercase;padding-top:10px;}
#ProductIndex .Nhomsanpham a.namesanpham:hover{color:#005aae;}
#ProductIndex .Nhomsanpham a.detail{color:#e92445;}
#ProductIndex .Nhomsanpham .baosanpham{display:block;width:167px;height:215px;float:left;position:relative;margin-right:12px;}
#ProductIndex .Nhomsanpham .thutu3{margin-right:0;}
#ProductIndex .Nhomsanpham span.xemthem{display:block;text-transform:lowercase;font-family:Arial;font-size:12px;position:absolute;right:20px;color:black;}
#ProductIndex .Nhomsanpham .baosanpham .button{display:block;background-color:#6a1b60;width:114px;height:27px;
    border:none;color:white;font-family:Arial;font-size:12px;font-weight:bold;margin-left:61px;margin-top:5px;cursor:pointer;}
#ProductIndex .Nhomsanpham .baosanpham .button:hover{color:red;}
#ProductIndex .Nhomsanpham .baosanpham:hover .khungAnh{outline:1px solid #4d9eff;}
#ProductIndex .Nhomsanpham .baosanpham:hover .title{color:#4d9eff;}
#ProductIndex .Nhomsanpham .baosanpham span{display:block;font-family:Arial;font-size:12px;font-weight:bold;margin-top:5px;}
#ProductIndex .Nhomsanpham .baosanpham .giasp{font-family:'robotocondensed';
    font-size:14px;background:url(../images/vachnhomsptrangchu.png) repeat-x left top;padding-top:7px;margin-top:6px;}
#ProductIndex .Nhomsanpham .baosanpham .giasp b{color:red;font-weight:normal;font-family:"robotocondensedbold";}
#ProductIndex .Nhomsanpham .baosanpham .anhthuoctinh{position:absolute;right:10px;top:0;width:27px;height:49px;z-index:5;}
#ProductIndex .Nhomsanpham .vach{display:none;height:7px;float:left;width:200px;margin-left:15px;
    background:url(../images/bg_vach1.png) no-repeat left center;background-color:#5ca5fc;margin-top:9px;}
#ProductIndex .Nhomsanpham .xemtiep{display:block;width:70px;height:14px;
    background:url(../images/xemtiep.png) no-repeat right 10px top 5px!important;position:absolute;right:0;top:5px;}
#ProductIndex .Nhomsanpham .xemtiep:hover{background:url(../images/xemtiep_hover.png);}
#ProductIndex .Nhomsanpham .tronglist{padding-bottom:10px;padding-top:10px;}
#ProductIndex .Nhomsanpham .bgkhong{background:none;}
#ProductIndex .baosanphamindex{margin-bottom:15px;}div.ss-controls{display:none;}
div.nav-controls{float:right;}div.controls a.prev{text-indent:-999px;width:40px;height:40px;display:inline-block;position:absolute;top:45%;right:12px;background:url(../images/right.png) no-repeat;overflow:hidden;z-index:2;}
div.controls a.prev:hover{background-image:url(../images/rightHover.png);}
div.controls a.next{text-indent:-999px;width:40px;height:40px;display:inline-block;position:absolute;top:45%;left:12px;background:url(../images/left.png) no-repeat;overflow:hidden;z-index:2;}
div.controls a.next:hover{background-image:url(../images/leftHover.png.ashx);}
div.slideshow-container{width:98%;height:262px;position:relative;z-index:1;overflow:hidden;display:inline-block;padding-bottom:1px;}
div.slideshow-container{z-index:2;clear:both;width:340px;border:1px solid #eee;}
div.loader{position:absolute;z-index:1;top:0;left:0;background-image:url(../images/'loader.gif');background-repeat:no-repeat;background-position:center;}
div.slideshow span.image-wrapper{display:block;position:absolute;z-index:1;top:1px;left:-1px;}
div.slideshow a.advance-link img{top:0;max-width:;}
div.slideshow a.advance-link:hover,div.slideshow a.advance-link:active,div.slideshow a.advance-link:visited{text-decoration:none;}
div.slideshow a.advance-link:focus{outline:none;}
div.caption-container{display:none;}
span.image-caption{display:block;position:absolute;z-index:1;top:0;left:0;}
div.caption{padding:0 12px;}
div.photo-index{position:absolute;z-index:1;bottom:0;left:0;padding:0 12px;}
div.navigation-container{position:relative;z-index:1;width:100%;height:67px;overflow:hidden;clear:both;}
div.navigation a.pageLink{display:block;position:absolute;z-index:2;top:19px;left:0;width:21px;height:35px;opacity:.3;-moz-opacity:.3;filter:alpha(opacity=30);background:url(../images/left.png);}
div.navigation a.next{left:auto;right:0;background:url(../images/right.png);}
div.navigation a.pageLink:hover{opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}
div.navigation a.pageLink:focus{outline:none;}
ul.thumbs{position:relative;z-index:1;margin:0;padding:0;}
ul.thumbs li{padding:0;list-style:none;float:left;width:83px;height:55px;border:1px solid #eee;padding-top:5px;padding-bottom:5px;position:relative;z-index:1;overflow:hidden;display:inline-block;}
.selected a.thumb,a.thumb:hover,a.thumb:focus{border-color:#fff;outline:none;}
ul.thumbs img{border:none;display:block;}
div.pagination{clear:both;position:relative;z-index:1;left:-50%;}
div.pagination a,div.pagination span.current,div.pagination span.ellipsis{position:relative;z-index:1;display:block;float:left;margin-right:2px;padding:4px 7px 2px 7px;border:1px solid #ccc;}
#ProductDetail{padding:0;font-family:Arial;font-size:12px;margin-bottom:20px;width:730px;float:right;background:#fff;}
#ProductDetail .left{width:340px;float:left;position:relative;padding-top:15px;padding-left:10px;}
#ProductDetail .left .defaultImg{
    width:340px;height:262px;
    cursor:pointer;float:left;
}
#ProductDetail .right{width:290px;float:right;}
#ProductDetail a.thumb img{max-width:85px;max-height:65px;}
#ProductDetail .selected{border:1px solid #f68620;}
#ProductDetail .submenu{min-width:220px;width:22%;float:left;}
#prevLink{display:none!important;}
#nextLink{display:none!important;}
#ProductDetail .Thongtinsanpham{width:344px;float:left;font-family:Arial;font-size:12px;margin-left:20px;margin-right:16px;}
#ProductDetail .Thongtinsanpham h1{font-family:'robotocondensedbold';font-size:16px;color:#4d9eff;margin-top:10px;margin-bottom:7px;}
#ProductDetail .chitiet{margin-bottom:5px;font-family:'robotocondensed';font-size:14px;}
#ProductDetail .chitiet span{width:90px;display:inline-block;}
#soluongmua{width:24px;height:21px;margin-top:5px;border:1px solid #b9b9b9;padding:1px 5px 1px 5px;color:#333;}
#ProductDetail .soluongmua{position:relative;float:left;}
#ProductDetail .masp{font-family:'robotocondensedbold';margin-bottom:2px;margin-top:10px;font-size:13px;}
#ProductDetail .masp span{font-family:'roboto-regular';font-size:12px;}
#ProductDetail .soluongmua span{display:block;padding-top:8px;float:left;font-family:'robotocondensed';width:65px;}
#button1{position:absolute;top:9px;left:108px;border:none;background:url(../images/icon_button1.png) no-repeat;cursor:pointer;width:12px;height:6px;}
#button2{position:absolute;top:21px;left:108px;border:none;background:url(../images/icon_button2.png) no-repeat;cursor:pointer;width:12px;height:6px;}
#button1:hover{background:url(../images/icon_button1_hover.png) no-repeat;}
#button2:hover{background:url(../images/icon_button2_hover.png) no-repeat;}
#ProductDetail .mau{display:block;width:19px;height:19px;border-right:3px solid #c7c7c7;border-bottom:3px solid #c7c7c7;float:left;margin-right:5px;}
#ProductDetail span.loaimau{float:left;margin-right:10px;margin-top:3px;cursor:pointer;}
#ProductDetail .Thongtinsanpham .lienhe span{color:red;font-size:14px;}
#ProductDetail .CommonAddthisButtonCount .cot1{float:right;width:96px;}
#ProductDetail .CommonAddthisButtonCount .cot2{float:right;width:70px;}
#ProductDetail .CommonAddthisButtonCount .cot3{float:right;width:80px;}
#ProductDetail .CommonAddthisButtonCount .text{float:right;font:bold 12px/22px Arial;padding-right:15px;}
#ProductDetail .Thongtinsanpham .anhthuoctinh{position:absolute;right:134px;top:5px;z-index:5;width:27px;height:49px;}
#ProductDetail .khungAnhCrop0{width:340px;height:260px;position:relative;overflow:hidden;box-shadow:0 0 0 1px #e8e8e8;}
#ProductDetail .Thongtinsanpham .kichco{display:block;width:70px;padding-top:5px;}
#ProductDetail .Thongtinsanpham .soluongmua span{font-weight:normal;}
#ProductDetail .Thongtinsanpham .kichco{font-weight:normal;margin-left:20px;}
#selectSize{clear:both;border:1px solid #b9b9b9;padding:2px 5px 3px 5px;margin-left:20px;margin-top:5px;width:60px;color:#d9241b;font-weight:bold;}
#ProductDetail .Thongtinsanpham .baokichco{width:72px;float:left;}
#ProductDetail .Thongtinsanpham .motamuahang{margin-top:15px;}
#ProductDetail .Thongtinsanpham .vachngan{height:1px;width:100%;background:url(../images/vachngan_bg.png) repeat-x;margin:15px 0;}
#RightProductDetail{width:230px;float:left;}
.zoomContainer{top:375px!important;}
#ProductDetail .giasp{margin-bottom:0;}
#ProductDetail .giacu{text-decoration:line-through;}
#ProductDetail .giamoi{font-size:18px;color:#ff3e37;}
#ProductDetail .otich{width:7px;height:7px;border:1px solid #ccc;margin-top:7px;margin-right:7px;position:relative;float:left;}
#ProductDetail .conhang{display:block;width:11px;height:11px;background:url(../images/icon_conhang.png) no-repeat;position:absolute;left:0;bottom:0;}
#ProductDetail .baoconhang{float:left;margin-top:7px;}
#ProductDetail .Thongtinsanpham #muangay{display:block;line-height:36px;width:136px;height:36px;border:none;cursor:pointer;background:url(../images/icon_dathang.png) no-repeat;margin-top:10px;margin-bottom:8px;}
#ProductDetail .baogiamoi{margin-bottom:0;}#content_1{text-align:justify;font:normal 14px/20px robotocondensed!important;}
#content_1 img{margin:10px 0!important;max-width:100%;}#content_2{text-align:justify;font:normal 14px/20px robotocondensed!important;}
#content_2 img{margin:10px 0!important;max-width:100%;}
#content_3{text-align:justify;font:normal 14px/20px robotocondensed!important;}
#content_3 img{margin:10px 0!important;max-width:100%;}
#tabbed_box_1{margin:0 auto 0 auto;width:300px;}
.tabbed_box h4{font-family:Arial,Helvetica,sans-serif;font-size:23px;color:#fff;letter-spacing:-1px;margin-bottom:10px;}
.tabbed_box h4 small{color:#e3e9ec;font-weight:normal;font-size:9px;font-family:Verdana,Arial,Helvetica,sans-serif;text-transform:uppercase;position:relative;top:-4px;left:6px;letter-spacing:0;}
.tabbed_area{padding:8px;width:720px;margin:0 auto;}
ul.tabs{margin:0;padding:0;margin-top:5px;margin-bottom:14px;cursor:pointer;border-bottom:2px solid #222;padding-bottom:6px;}
ul.tabs li{list-style:none;display:inline;}
ul.tabs li span{color:#105caa;padding:9px 14px 1px;text-decoration:none;font-size:16px;font-family:'robotocondensed';}
ul.tabs li span:hover{color:#c00;border-color:#2f343a;}
ul.tabs li span.active{background:url(../images/bg_tab_current.png) no-repeat right top;background-color:#222;color:#fff;padding-bottom:7px;}
.tabbed_area .noidung{background-color:#fff;padding:10px;font-family:Arial;background-repeat:repeat-x;background-position:bottom;}
#content_2,#content_3{display:none;}
.tabbed_area .noidung ul{margin:0;padding:0 20px 0 20px;}
.tabbed_area .noidung ul li{list-style:none;border-bottom:1px solid #d6dde0;padding-top:15px;padding-bottom:15px;font-size:13px;}
.tabbed_area .noidung ul li:last-child{border-bottom:none;}
.tabbed_area .noidung ul li span{text-decoration:none;color:#3e4346;}
.tabbed_area .noidung ul li span small{color:#8b959c;font-size:9px;text-transform:uppercase;font-family:Verdana,Arial,Helvetica,sans-serif;position:relative;left:4px;top:0;}
.tabbed_area .noidung ul li span:hover{color:#a59c83;}
.tabbed_area .noidung ul li span:hover small{color:#baae8e;}
#ProductLoadControls{width:980px;margin:0 auto;}#ProductLoadControls .ProductLoadControlsLefft{width:230px;float:left;position:relative;}
#ProductLoadControls .ProductLoadControlsRight{width:730px;float:right;position:relative;background:#fff;}
#SubProductOtherItem .Nhomsanpham .chuacosanpham{display:block;text-align:center;width:730px;height:200px;background-color:white;margin-top:100px;}
#ContentLoad{background-color:white;}
#SubProductOtherItem .tieudeSPcungloai{color:#c7003d;padding-top:20px;padding-left:20px;}
#SubProductOtherItem .leftslidebar{min-width:220px;width:22%;float:left;margin-top:5px;}
#SubProductOtherItem{display:block;min-width:730px;width:100%;margin:0 auto;}
#SubProductOtherItem .Nhomsanpham{min-width:730px;width:100%;float:right;}
#SubProductOtherItem .Nhomsanpham .cate{min-width:730px;width:100%;height:24px;z-index:50;color:black;position:relative;height:33px;border-bottom:2px solid #4d9eff;}
#SubProductOtherItem .Nhomsanpham .listNews{background-color:white;}
#SubProductOtherItem .Nhomsanpham .cate a{font-size:16px;font-family:'robotocondensedbold';float:left;text-transform:uppercase;height:35px;background:url(../images/bg_cate.png) no-repeat left center;background-size:100% 100%;padding:0 35px 0 10px;color:#fff;line-height:36px;}
#SubProductOtherItem .Nhomsanpham .khungAnh{width:162px;height:120px;background:url(../images/product_bg22.png) no-repeat;background-position:bottom;position:relative;margin:0 auto;border:1px solid #fff;outline:1px solid #ededed;}
#SubProductOtherItem .Nhomsanpham .khungAnhCrop{width:162px;height:120px;}
#SubProductOtherItem .Nhomsanpham a.title{color:black;display:block;max-height:40px;min-height:38px;overflow:hidden;line-height:19px;margin:0 auto;padding-top:10px;padding-left:1px;padding-right:5px;font-family:'robotocondensed';font-size:14px;}
#SubProductOtherItem .Nhomsanpham a.title:hover{color:#4d9eff;}
#SubProductOtherItem .Nhomsanpham a.namesanpham{text-align:center;color:black;display:block;margin:0 auto;text-transform:uppercase;padding-top:10px;}
#SubProductOtherItem .Nhomsanpham a.namesanpham:hover{color:#005aae;}
#SubProductOtherItem .Nhomsanpham a.detail{color:#e92445;}
#SubProductOtherItem .Nhomsanpham .baosanpham{display:block;width:167px;height:215px;float:left;position:relative;margin-right:12px;margin-top:1px;}
#SubProductOtherItem .Nhomsanpham .thutu3{margin-right:0;}
#SubProductOtherItem .Nhomsanpham span.xemthem{display:block;text-transform:lowercase;font-family:Arial;font-size:12px;position:absolute;right:20px;color:black;}
#SubProductOtherItem .Nhomsanpham .baosanpham .button{display:block;background-color:#6a1b60;width:114px;height:27px;border:none;color:white;font-family:Arial;font-size:12px;font-weight:bold;margin-left:61px;margin-top:5px;cursor:pointer;}
#SubProductOtherItem .Nhomsanpham .baosanpham .button:hover{color:red;}
#SubProductOtherItem .Nhomsanpham .baosanpham:hover .khungAnh{outline:1px solid #4d9eff;}
#SubProductOtherItem .Nhomsanpham .baosanpham:hover .title{color:#4d9eff;}
#SubProductOtherItem .Nhomsanpham .baosanpham span{display:block;font-family:Arial;font-size:12px;font-weight:bold;margin-top:5px;}
#SubProductOtherItem .Nhomsanpham .baosanpham .giasp{font-family:'robotocondensed';font-size:14px;background:url(../images/vachnhomsptrangchu.png) repeat-x left top;padding-top:7px;margin-top:6px;}
#SubProductOtherItem .Nhomsanpham .baosanpham .giasp b{color:red;font-family:'robotocondensedbold';font-weight:normal;}
#SubProductOtherItem .Nhomsanpham .baosanpham .anhthuoctinh{position:absolute;right:10px;top:0;width:27px;height:49px;z-index:5;}
#SubProductOtherItem .Nhomsanpham .vach{display:none;height:7px;float:left;width:570px;margin-left:15px;background:url(../images/bg_vach1.png) no-repeat left center;background-color:#5ca5fc;margin-top:9px;}
#SubProductOtherItem .Nhomsanpham .xemtiep{display:block;width:70px;height:14px;background:url(../images/xemtiep.png);position:absolute;right:0;top:5px;}
#SubProductOtherItem .Nhomsanpham .xemtiep:hover{background:url(../images/xemtiep_hover.png);}
#SubProductOtherItem .Nhomsanpham .tronglist{padding-top:10px;}#SubProductOtherItem .Nhomsanpham .bgkhong{background:none;}
#SubProductOtherItem #mycarouselImg2{width:712px!important;height:230px;margin-top:5px;position:relative;margin:0 10px 0 8px;}
#SubProductOtherItem #mycarouselImg2 li{list-style:none;width:167px;height:215px;margin:0 14px 0 0;}
#SubProductOtherItem #mycarouselImg2 li.licuoi{margin-right:0;}
#SubProductOtherItem .btnPre2{position:absolute;top:49px;left:7px;cursor:pointer;z-index:50;}
#SubProductOtherItem .btnNext2{position:absolute;top:49px;right:6px;cursor:pointer;z-index:50;}
#SubProductOtherItem .pLeftBtn2{width:18px;height:36px;background:url(../images/truoc.png) no-repeat;}
#SubProductOtherItem .pLeftBtn2:hover{width:18px;height:36px;background:url(../images/truoc_hover.png) no-repeat;}
#SubProductOtherItem .pRightBtn2{width:18px;height:36px;background:url(../images/sau.png) no-repeat;}
#SubProductOtherItem .pRightBtn2:hover{width:18px;height:36px;background:url(../images/sau_hover.png) no-repeat;}