﻿.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
.fwb{font-weight:bold;}
.fwn{font-weight:normal;}
.ffTahoma{font-family:Tahoma;}
.ffTahoma{font-family:Tahoma;}
.fsti{font-style:italic;}
.fstn{font-style:normal;}
.fs9{font-size:9px;}
.fs10{font-size:10px;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}
.tal{text-align:left;}
.tar{text-align:right;}
.tac{text-align:center;}
.taj{text-align:justify;}
.tdn{text-decoration:none;}
.tdu{text-decoration:underline;}
.m0{margin:0;}
.ma{margin:auto;}
.db{display:block;}
.dn{display:none;}
.di{display:inline;}
.dib{display:inline-block;}
.psa{position:absolute;}
.psr{position:relative;}
.zindex0{z-index:0;}
.zindex1{z-index:1;}
.zindex2{z-index:2;}
.zindex3{z-index:3;}
.zindex4{z-index:4;}
.zindex5{z-index:5;}
.ofh{overflow:hidden;}
.ofa{overflow:auto;}
.ttu{text-transform:uppercase;}
.ttl{text-transform:lowercase;}
.opc0{opacity:0;-moz-opacity:0;-webkit-opacity:0;filter:alpha(opacity=0);}
.opc50{opacity:.5;-moz-opacity:.5;-webkit-opacity:.5;filter:alpha(opacity=50);}
.opc80{opacity:.8;-moz-opacity:.8;-webkit-opacity:.8;filter:alpha(opacity=80);}
.opc100{opacity:1;-moz-opacity:1;-webkit-opacity:1;filter:alpha(opacity=100);}
.csp{cursor:pointer;}.bared{border:solid 1px red;}
.bgred{background:red;}
.bgwhite{background:white;}.cred{color:red;}
.cRed{color:red;}
.c333{color:#333;}.cff6600{color:#f60;}
.w940{width:940px;}.w960{width:960px;}
.w980{width:980px;}.w1000{width:1000px;}
.w1200{width:1200px;}.w1366{width:1366px;}
.w1600{width:1600px;}.lh15{line-height:15px;}
.lh16{line-height:16px;}.lh17{line-height:17px;}
.lh18{line-height:18px;}.lh19{line-height:19px;}
.lh20{line-height:20px;}.lh21{line-height:21px;}
.lh22{line-height:22px;}.h0{height:0;}
.h1{height:1px;}
.h2{height:2px;}
.h3{height:3px;}
.h4{height:4px;}
.h5{height:5px;}
.h6{height:6px;}
.h7{height:7px;}
.h8{height:8px;}
.h9{height:9px;}
.h10{height:10px;}
.h11{height:11px;}
.h12{height:12px;}
.h13{height:13px;}
.h14{height:14px;}
.h15{height:15px;}
.h16{height:16px;}
.h17{height:17px;}
.h18{height:18px;}
.h19{height:19px;}
.h20{height:20px;}
.h21{height:21px;}
.h22{height:22px;}
.h23{height:23px;}
.h24{height:24px;}
.h25{height:25px;}
.h30{height:30px;}
.h35{height:35px;}
.h40{height:40px;}
.pl1o{padding-left:1%;}
.pl1{padding-left:1px;}
.pl2{padding-left:2px;}
.pl3{padding-left:3px;}
.pl4{padding-left:4px;}
.pl5{padding-left:5px;}
.pl6{padding-left:6px;}
.pl7{padding-left:7px;}
.pl8{padding-left:8px;}
.pl9{padding-left:9px;}
.pl10{padding-left:10px;}
.pl11{padding-left:11px;}
.pl12{padding-left:12px;}
.pl13{padding-left:13px;}
.pl14{padding-left:14px;}
.pl15{padding-left:15px;}
.pl16{padding-left:16px;}
.pl17{padding-left:17px;}
.pl18{padding-left:18px;}
.pl19{padding-left:19px;}
.pl20{padding-left:20px;}
.pl25{padding-left:20px;}
.pl30{padding-left:20px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
.pr1{padding-right:1px;}
.pr2{padding-right:2px;}
.pr3{padding-right:3px;}
.pr4{padding-right:4px;}
.pr5{padding-right:5px;}
.pr6{padding-right:6px;}
.pr7{padding-right:7px;}
.pr8{padding-right:8px;}
.pr9{padding-right:9px;}
.pr10{padding-right:10px;}
.pr11{padding-right:11px;}
.pr12{padding-right:12px;}
.pr13{padding-right:13px;}
.pr14{padding-right:14px;}
.pr15{padding-right:15px;}
.pr16{padding-right:16px;}
.pr17{padding-right:17px;}
.pr18{padding-right:18px;}
.pr19{padding-right:19px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pr35{padding-right:35px;}
.pr40{padding-right:40px;}
.pt1{padding-top:1px;}
.pt2{padding-top:2px;}
.pt3{padding-top:3px;}
.pt4{padding-top:4px;}
.pt5{padding-top:5px;}
.pt6{padding-top:6px;}
.pt7{padding-top:7px;}
.pt8{padding-top:8px;}
.pt9{padding-top:9px;}
.pt10{padding-top:10px;}
.pt11{padding-top:11px;}
.pt12{padding-top:12px;}
.pt13{padding-top:13px;}
.pt14{padding-top:14px;}
.pt15{padding-top:15px;}
.pt16{padding-top:16px;}
.pt17{padding-top:17px;}
.pt18{padding-top:18px;}
.pt19{padding-top:19px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pb1{padding-bottom:1px;}
.pb2{padding-bottom:2px;}
.pb3{padding-bottom:3px;}
.pb4{padding-bottom:4px;}
.pb5{padding-bottom:5px;}
.pb6{padding-bottom:6px;}
.pb7{padding-bottom:7px;}
.pb8{padding-bottom:8px;}
.pb9{padding-bottom:9px;}
.pb10{padding-bottom:10px;}
.pb11{padding-bottom:11px;}
.pb12{padding-bottom:12px;}
.pb13{padding-bottom:13px;}
.pb14{padding-bottom:14px;}
.pb15{padding-bottom:15px;}
.pb16{padding-bottom:16px;}
.pb17{padding-bottom:17px;}
.pb18{padding-bottom:18px;}
.pb19{padding-bottom:19px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}
a,span,input[type=submit]{transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;}
ul li{list-style:none;}
a{text-decoration:none;}
p{margin:0;padding:0;}
img{border:0;}
.khungAnhCrop0,.khungAnhCrop{position:relative;z-index:1;overflow:hidden;display:inline-block;}
#skypedetectionswf,#dp_swf_engine{visibility:hidden;height:0!important;}
html,body{position:relative;height:100%; font-family: arial, times new roman;}
body{width:100%;height:100%;font:normal 12px 'Arial';margin:0;padding:0;min-width:1000px;color:#333;background:url(../images/bg_web.png);}
#fadePopup{display:none;top:0;left:0;width:100%;height:100%;background:#666;position:fixed;z-index:1001;-moz-opacity:.3;opacity:.30;filter:alpha(opacity=30);}
#lightPopup{display:none;position:fixed;top:50px;left:0;z-index:9999;padding:3px;border-radius:3px;box-shadow:0 0 3px #b2b2b2;}
#lightPopupContent{width:800px;min-height:50px;max-height:500px;overflow:auto;padding:10px;background:#fff;text-align:justify;}
#lightPopup .btClosePopup{width:32px;height:32px;display:inline-block;cursor:pointer;position:absolute;top:-12px;right:-12px;
    background:url(../images/btClose.png) no-repeat;}
#lightPopup img{max-width:800px;}
.PageContentMain{width:100%;display:block;margin-top:6px;margin:auto;}
.PageContentDetailLeft{width:230px;float:left;}
.PageContentDetailRight{float:right;width:730px;}
#BaoWebsite{width:1000px;margin:0 auto;background-color:#fff;box-shadow:0 0 8px #333;}
#AdmControlsHorizaMenu{white-space:nowrap;}
#AdmRoad{white-space:nowrap;}
#ProductAdmLeftMenu{white-space:nowrap;}
.BgTabTool,.BgTabTitle{white-space:nowrap;}
#AdmControlsHeaderTopMenu{white-space:nowrap;}
#CommonChinhSachBaoMat #headerSubPageCate{position:relative;z-index:10;display:block;width:102%;height:34px;margin:0 auto;
    background:url(../images/icon_headmenuPr.png) no-repeat center center;margin-left:-3px;}
#CommonChinhSachBaoMat #headerSubPageCate span{display:block;color:white;font-family:'RobotoCondensedBold';font-size:14px;padding-top:8px;padding-left:32px;}
#CommonChinhSachBaoMat .SubListCatePage a.catesubnew{position:relative;display:block;color:#4d9eff;font-size:14px;font-family:'RobotoCondensedBold';height:32px;margin:0 auto;cursor:pointer;
    background:#fff url(/cms/display/cs/bgcatea.png.ashx) no-repeat top right;background-size:40px 35px;text-transform:uppercase;border-bottom:1px solid #4d9eff;}
#CommonChinhSachBaoMat .SubListCatePage a.catesubnew span.center{display:block;padding-top:7px;padding-left:10px;cursor:pointer;}
#CommonChinhSachBaoMat .SubListCatePage a.catesubnew .socon{position:absolute;display:block;font-size:12px;font-family:'RobotoCondensedBold';color:#fff;padding:0 5px;top:8px;right:10px;border-radius:8px;}
#CommonChinhSachBaoMat{float:left;width:100%;min-width:220px;}
#CommonChinhSachBaoMat .SubListCatePage a.catesubnewCon{position:relative;display:block;color:#333;font-size:14px;font-family:'robotocondensed';height:29px;
    background:url(../images/icon_subProcate.png);background-repeat:no-repeat;background-position:10px center;margin:0 auto;cursor:pointer;background-color:#fff;}#CommonChinhSachBaoMat .SubListCatePage a.catesubnewCon span.center{display:block;padding-top:4px;padding-left:23px;cursor:pointer;}
#CommonChinhSachBaoMat .SubListCatePage a.catesubnewCon:hover{color:#4d9eff;
     background:url(../images/icon_hover.png);background-repeat:no-repeat;background-position:10px center;background-color:#fff;}
#CommonChinhSachBaoMat .SubListCatePage a.catesubnewCon:hover .socon2{color:#4d9eff;}
#CommonChinhSachBaoMat .SubListCatePage a.catesubnewCon .socon2{position:absolute;display:block;background-color:#ededed;font-size:12px;font-family:'robotocondensed';color:#999;padding:0 10px;top:8px;right:10px;border-radius:8px;}
#CommonChinhSachBaoMat .SubListCatePage{margin-top:-1px;}
#CommonHeader .TopCommonHeader{height:190px;  }
#CommonHeader .ContentTopHeader{width:980px;margin:0 auto;}
#CommonHeader .ContentTopHeader .leftContentToptHeader{width:750px;float:left;}
#CommonHeader .ContentTopHeader .rightContentTopHeader{width:225px;float:right;}
#CommonHeader .BottomCommonHeader{height:448px;
     background:url(../images/nenheader.png) no-repeat center bottom;position:relative;top:-5px;}
#CommonHeader .Hotline{font:14px 'robotocondensed';color:#333;
     background:url(../images/icon_hotline.png) no-repeat left center;position:absolute;bottom:2px;left:0;padding-left:20px;}
#CommonHeader .EmailHeThong{font:14px 'robotocondensed';color:#333;
     background:url(../images/icon_email.png) no-repeat left center;position:absolute;bottom:2px;right:0;padding-left:20px;}
#CommonHeader .BaoLienHE{width:980px;height:30px;margin:0 auto;position:relative;}
#CommonHeader .BaoLienHE span{font-weight:normal;color:#ff1313;font-family:robotocondensedbold;}
#BoxSearch{background:#fff;border:1px solid #d3d3d3;border-radius:15px;float:right;height:28px;width:222px;margin-top:30px;}
#BoxSearch .BgSearchBox{display:block;width:100%;height:28px;position:relative;}
#BoxSearch .mtb{display:block;width:185px;color:#808285;float:left;}
#BoxSearch .CsTb{color:#808285;height:27px;width:100%;float:left;border:none;padding-left:3px;margin-left:2px;overflow:hidden;background:none;font-size:11px;}

           #BoxSearch .Csb{background:url(../images/ico_find.png) no-repeat center;float:left;width:28px;height:22px;float:right;border:none;cursor:pointer;margin-top:3px;margin-right:7px;}
#CommonMenuMain{width:100%;margin:0 auto;height:41px;z-index:90;position:relative;background:#0260bd;}
#CommonMenuMain .MainContent{width:1000px;position:relative;margin:auto;}
#CommonMenuMain .MainContent .Main{width:1000px;position:absolute;z-index:2;left:0;top:-7px;height:48px;
          background:url(../images/bgmenumain.png) no-repeat center center;}
#CommonMenuMain .MainContent .Main .Content{width:980px;margin:auto;height:48px;}
#CommonMenuMain .trangchu{display:block;width:25px;height:25px;
          background:url(../images/icon_home.png) no-repeat center center;margin-top:4px;margin-left:9px;padding:0!important;border-top-left-radius:5px;border-bottom-left-radius:5px;}
#CommonMenuMain .trongul{display:block;width:100%;height:10px;
     background:url(../images/bg_trongul.png);}
#CommonMenuMain .giohang{position:absolute;width:50px;height:41px;top:0;right:12px;}
#CommonMenuMain .giohang .giuagiohang{padding:0 10px;display:block;width:41px;height:41px;
     background:url(../images/giohang.png) no-repeat;}
#CommonMenuMain .giohang:hover .giuagiohang{background:url(../images/giohang.png) no-repeat;color:#fff;width:41px;height:44px;display:block;cursor:pointer;}
#CountSoLuong{color:#fff;position:absolute;top:7px;left:26px;}

     #CommonMenuMain .MainContent .MainOther{background:url(../images/MainOther.png) no-repeat center center;}
#CommonMenuMain .ddsmoothmenu-v ul{margin:0;list-style-type:none;width:100%;padding:0;margin:0 auto;}
#CommonMenuMain .ddsmoothmenu-v ul li{position:relative;display:inline-block;float:left;z-index:10000;padding:0;}
#CommonMenuMain .ddsmoothmenu-v ul li:first-of-type{margin-left:10px;}
#CommonMenuMain .ddsmoothmenu-v ul li.menu-item .traili{display:block;width:17px;height:44px;
      background:url(../images/trai_menu.png) no-repeat;position:absolute;top:0;left:-11px;z-index:20;}
#CommonMenuMain .ddsmoothmenu-v ul li.menu-item .phaili{display:block;width:21px;height:44px;
      background:url(../images/phai_menu.png) no-repeat;position:absolute;top:0;right:-1px;z-index:20;}
#CommonMenuMain .ddsmoothmenu-v ul li.menu-item a{padding:0 22px;}
#CommonMenuMain .ddsmoothmenu-v ul li.menu-item:hover .traili{display:block;width:17px;height:44px;
      background:url(../images/traimenu_hover.png) no-repeat;position:absolute;top:0;left:-11px;z-index:20;}
#CommonMenuMain .ddsmoothmenu-v ul li.menu-item:hover .phaili{display:block;width:21px;height:44px;
     background:url(../images/phaimenu_hover.png) no-repeat;position:absolute;top:0;right:-1px;z-index:20;}
     #CommonMenuMain .ddsmoothmenu-v ul li.menu-item:hover a{background:url(../images/giuamenu_hover.png) no-repeat center center;background-size:100% 100%;}
#CommonMenuMain .ddsmoothmenu-v .litrangchu{padding-right:25px;}
#CommonMenuMain .ddsmoothmenu-v ul li a{white-space:nowrap;display:block;text-decoration:none;cursor:pointer;color:#fff;font:16px/40px 'RobotoCondensedBold';text-transform:uppercase;padding:0;height:48px;}
#CommonMenuMain .ddsmoothmenu-v ul .current .traili{display:block;width:17px;height:44px;
      background:url(../images/traimenu_hover.png) no-repeat;position:absolute;top:0;left:-11px;z-index:20;}
#CommonMenuMain .ddsmoothmenu-v ul .current .phaili{display:block;width:21px;height:44px;
      background:url(../images/phaimenu_hover.png) no-repeat;position:absolute;top:0;right:-1px;z-index:20;}
#CommonMenuMain .ddsmoothmenu-v ul .current a{
    background:url(../images/giuamenu_hover.png) no-repeat center center;color:#fff;background-size:100% 100%;padding:0 22px;}
#CommonMenuMain .ddsmoothmenu-v ul li ul{position:absolute;width:192px!important;top:0;visibility:hidden;height:auto;z-index:100000;left:-35px!important;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li{padding:7px 0 7px 0;display:block;text-align:left;position:relative;width:189px;z-index:10000;
    background:#4d9eff url(../images/bglili.png) no-repeat bottom center;border-top:none;border-bottom:none;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li:last-child{border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li:first-of-type{margin:0;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li a{text-transform:none;
     background:url(../images/sao.png) no-repeat left 10px top 3px!important;padding:0 12px;height:auto;padding-left:23px!important;height:100%;display:block;background-size:inherit;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li:hover{
    background:#3e7ecc url(../images/bilili.png) no-repeat bottom center;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li a{display:block;font:13px 'roboto-regular';color:#fff;}
#CommonMenuMain a.subitem span{padding-left:0;}/* Holly Hack for IE \*/ #CommonMenuMain .ddsmoothmenu-v ul li ul{width:190px!important;border-radius:5px;}/* End */ #CommonMenuMain .ddsmoothmenu-v ul li ul li ul{border-radius:5px;position:absolute;width:192px!important;top:0;left:191px!important;visibility:hidden;height:auto;z-index:100000;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li ul li{padding:7px 0 7px 0;display:block;text-align:left;position:relative;
    background:#4d9eff url(../images/bglili.png) no-repeat bottom center;width:189px;z-index:10000;border:1px solid #4288dc;border-top:none;border-bottom:none;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li ul li:first-of-type{margin:0;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li ul li a{text-transform:none;background:none!important;padding:0 12px;height:auto;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li ul li:hover{
    background:#3e7ecc url(../images/bilili.png) no-repeat bottom center;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li ul li a{display:block;font:13px 'roboto-regular';color:#fff;
   background:url(../images/sao.png) no-repeat left 10px top 3px!important;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li ul .trongul{display:block;width:100%;height:6px;
   background:url(../images/trongul1.png) no-repeat center center;border-radius:10px;}
#CommonMenuMain .ddsmoothmenu-v ul li ul li ul li:last-child{border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
#CommonSupportOnline .list{margin-top:13px;}
#CommonSupportOnline .item{margin-left:12px;padding-bottom:15px;}
#CommonSupportOnline .nick{display:block;font:14px 'robotocondensed';color:#333;text-align:center;margin-bottom:5px;}
#CommonSupportOnline .nick a{color:inherit;}
#CommonSupportOnline .yahooOn{width:91px;height:24px;display:inline-block;
   background:url(../images/yahooOn.png) no-repeat right;margin-right:16px;margin-top:3px;}
#CommonSupportOnline .skypeOn{width:70px;height:24px;display:inline-block;
   background:url(../images/skype.png) no-repeat;margin-top:3px;}
#CommonSupportOnline{background-color:#fff;}
#CommonSupportOnline .nick b{font-weight:normal;font-family:"robotocondensedbold";}
#SubVideoHomepageLastest{float:left;background-color:#fff;display:none;}
#SubVideoHomepageLastest .button{display:inline-block;position:relative;z-index:1;cursor:pointer;}
#SubVideoHomepageLastest .button .ListContent{width:230px;}
#SubVideoHomepageLastest a.head{display:block;width:102%;height:34px;margin:0 auto;
    background:url(../images/icon_nhomvideo.png) no-repeat center center;margin-bottom:10px;margin-left:-3px;background-size:100%;}
#SubVideoHomepageLastest a.head span{display:block;color:white;font-family:'RobotoCondensedBold';font-size:14px;padding-top:8px;padding-left:32px;text-transform:uppercase;}
#SubVideoHomepageLastest a.head:hover{color:#82caf2;}
#SubVideoHomepageLastest .button .ListContent{transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;}
#SubVideoGroup_BenPhaiWebsite .videoHienTai{clear:both;height:118px;margin-bottom:8px;}
#SubVideoGroup_BenPhaiWebsite #VideoHome{clear:both;}
#SubVideoGroup_BenPhaiWebsite .bgmotaudio{padding:0 0 5px 0;}
#SubVideoGroup_BenPhaiWebsite a.motaudio{display:inline-block;
     background:url(../images/catepopvideoHover.png) no-repeat 10px 5px;font:13px 'robotocondensed';color:#333;padding-left:24px;max-height:18px;overflow:hidden;}
#SubVideoGroup_BenPhaiWebsite a.motaudio:last-child a{border-bottom:none;}
#SubVideoGroup_BenPhaiWebsite a.motaudio:hover{color:#1250a3;
     background:url(../images/catepopvideoHover.png) no-repeat 10px 5px;}
#SubVideoGroup_BenPhaiWebsite #VideoPlayerEmbedCode2{text-align:center;}
#SubVideoGroup_BenPhaiWebsite iframe{z-index:1;}
#SubVideoGroup_BenPhaiWebsite .cheviencuoi{clear:both;height:2px;background:#f1f1f1;position:relative;z-index:1;top:-1px;}
#SubVideoHomepageLastest #VideoPlayerTitle2{display:none;}
.mCSB_container{width:auto;overflow:hidden;}
.mCSB_container.mCS_no_scrollbar{margin-right:0;}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{margin-right:30px;}
.mCustomScrollBox>.mCSB_scrollTools{width:10px;height:100%;top:0;border-left:1px solid #fff;border-right:2px solid #fff;right:0;background-color:#fff;}
.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0;bottom:0;right:0;height:auto;background:#fff;}
.mCSB_scrollTools a+.mCSB_draggerContainer{margin:20px 0;}
.mCSB_scrollTools .mCSB_draggerRail{width:2px;height:100%;margin:0 auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:30px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;height:100%;margin:0 auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-align:center;margin:5px auto;}
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown{display:block;position:relative;height:20px;overflow:hidden;margin:0 auto;cursor:pointer;}
.mCSB_scrollTools .mCSB_buttonDown{top:100%;margin-top:-40px;}
.mCSB_horizontal>.mCSB_container{height:auto;margin-right:0;margin-bottom:30px;overflow:hidden;}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{margin-bottom:0;}.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{margin-right:0;margin-bottom:30px;}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{width:100%;height:16px;top:auto;right:auto;bottom:0;left:0;overflow:hidden;}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{margin:0 20px;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:2px;margin:7px 0;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{width:30px;height:100%;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:4px;margin:6px auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{display:block;position:relative;width:20px;height:100%;overflow:hidden;margin:0 auto;cursor:pointer;float:left;}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{margin-left:-40px;float:right;}
.mCustomScrollBox{-ms-touch-action:none;}
.mCustomScrollBox>.mCSB_scrollTools{opacity:.75;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)";}
.mCustomScrollBox:hover>.mCSB_scrollTools{opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)";}
.mCSB_scrollTools .mCSB_draggerRail{background:#000;background:rgba(0,0,0,0.4);filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)";}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#fff;background:#0e233d;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)";}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,0.85);filter:"alpha(opacity=85)";-ms-filter:"alpha(opacity=85)";}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,0.9);filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)";}
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight{
    background-image:url(/cms/display/Video/SubControls/mCSB_buttons.png);background-repeat:no-repeat;opacity:.4;filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)";}
.mCSB_scrollTools .mCSB_buttonUp{background-position:0 0;}
.mCSB_scrollTools .mCSB_buttonDown{background-position:0 -20px;}
.mCSB_scrollTools .mCSB_buttonLeft{background-position:0 -40px;}
.mCSB_scrollTools .mCSB_buttonRight{background-position:0 -56px;}
.mCSB_scrollTools .mCSB_buttonUp:hover,.mCSB_scrollTools .mCSB_buttonDown:hover,.mCSB_scrollTools .mCSB_buttonLeft:hover,.mCSB_scrollTools .mCSB_buttonRight:hover{opacity:.75;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)";}
.mCSB_scrollTools .mCSB_buttonUp:active,.mCSB_scrollTools .mCSB_buttonDown:active,.mCSB_scrollTools .mCSB_buttonLeft:active,.mCSB_scrollTools .mCSB_buttonRight:active{opacity:.9;filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)";}
.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail{background:#000;background:rgba(0,0,0,0.15);}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#000;background:rgba(0,0,0,0.75);}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(0,0,0,0.85);}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(0,0,0,0.9);}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonUp{background-position:-80px 0;}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown{background-position:-80px -20px;}.mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-80px -40px;}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonRight{background-position:-80px -56px;}.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail{width:4px;background:#fff;background:#0d223c;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;background:#fff;background:rgba(255,255,255,0.75);-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;padding:5px 0;}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:4px;margin:6px 0;}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:4px;margin:6px auto;}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,0.85);}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,0.9);}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp{background-position:-32px 0;}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown{background-position:-32px -20px;}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-40px -40px;}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight{background-position:-40px -56px;}
.mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail{width:4px;background:#000;background:rgba(0,0,0,0.1);-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:4px;background:#000;background:rgba(0,0,0,0.75);-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:4px;margin:6px 0;}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:4px;margin:6px auto;}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(0,0,0,0.85);}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(0,0,0,0.9);}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp{background-position:-112px 0;}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown{background-position:-112px -20px;}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-120px -40px;}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight{background-position:-120px -56px;}
.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail{width:4px;background:#fff;background:rgba(255,255,255,0.1);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;background:#fff;background:rgba(255,255,255,0.75);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:4px;margin:6px 0;}.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:6px;margin:5px auto;}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,0.85);}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,0.9);}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp{background-position:-16px 0;}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown{background-position:-16px -20px;}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-20px -40px;}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight{background-position:-20px -56px;}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail{width:4px;background:#000;background:rgba(0,0,0,0.1);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;background:#000;background:rgba(0,0,0,0.75);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:4px;margin:6px 0;}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:6px;margin:5px auto;}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(0,0,0,0.85);}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(0,0,0,0.9);}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp{background-position:-96px 0;}.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown{background-position:-96px -20px;}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-100px -40px;}.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight{background-position:-100px -56px;}
.mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail{background:#fff;background:rgba(255,255,255,0.1);}
.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:2px;}.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:2px;margin:7px auto;}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail{background:#000;background:rgba(0,0,0,0.15);}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:2px;background:#000;background:rgba(0,0,0,0.75);}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:2px;margin:7px auto;}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(0,0,0,0.85);}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(0,0,0,0.9);}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp{background-position:-80px 0;}.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown{background-position:-80px -20px;}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-80px -40px;}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight{background-position:-80px -56px;}
.content_1>.mCustomScrollBox>.mCSB_scrollTools{height:96%;top:2%;}
.content_2 .mCSB_scrollTools .mCSB_draggerRail{width:6px;box-shadow:1px 1px 1px rgba(255,255,255,0.1);}
.content_2 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:rgba(255,255,255,0.4);filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)";}
.content_2 .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,0.5);filter:"alpha(opacity=50)";-ms-filter:"alpha(opacity=50)";}
.content_2 .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.content_2 .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,0.6);filter:"alpha(opacity=60)";-ms-filter:"alpha(opacity=60)";}
.content_3>.mCustomScrollBox>.mCSB_scrollTools{height:94%;top:3%;}
.content_3 .mCSB_scrollTools .mCSB_draggerRail{width:0;border-right:1px dashed #09C;}
.content_3 .mCSB_scrollTools .mCSB_dragger{height:11px;}
.content_3 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:11px;-webkit-border-radius:11px;-moz-border-radius:11px;border-radius:11px;background:#09C;}
.content_4>.mCustomScrollBox>.mCSB_scrollTools{height:94%;top:3%;}
.content_4 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:8px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#d0b9a0;-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.5);-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.5);box-shadow:1px 1px 5px rgba(0,0,0,0.5);}
.content_4 .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,.content_4 .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:#dfcdb9;}
.content_4 .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.content_4 .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{-webkit-box-shadow:0 0 3px rgba(0,0,0,0.5);-moz-box-shadow:0 0 3px rgba(0,0,0,0.5);box-shadow:0 0 3px rgba(0,0,0,0.5);}
.content_5>.mCustomScrollBox>.mCSB_scrollTools{width:98%;margin:0 1%;}
.content_6>.mCustomScrollBox>.mCSB_scrollTools{width:88%;margin:0 6%;}
.content_8 .mCSB_scrollTools .mCSB_draggerRail{width:0;border-left:1px solid rgba(0,0,0,0.8);border-right:1px solid rgba(255,255,255,0.2);}
.mCSB_draggerRail{display:none;}
#CommonThongKeTruyCap .CommonThongKeTruyCapHeader{display:block;width:102%;height:34px;margin:0 auto;
      background:url(../images/bgtruycap.png) no-repeat center center;margin-left:-3px;background-size:100%;}
#CommonThongKeTruyCap .CommonThongKeTruyCapHeader span{display:block;color:white;font-family:'RobotoCondensedBold';font-size:14px;padding-top:8px;padding-left:32px;}
#CommonThongKeTruyCap .CommonThongKeTruyContent{height:66px;}
#CommonThongKeTruyCap .CommonThongKeTruyContent .onl{padding-top:12px;padding-left:10px;font:14px 'robotocondensed';}
#CommonThongKeTruyCap .CommonThongKeTruyContent .count{padding-left:76px;font:14px 'robotocondensed';padding-top:3px;padding-left:10px;}
#CommonThongKeTruyCap{background-color:white;}
#CommonThongKeTruyCap .CommonThongKeTruyContent .onl span{font:14px 'RobotoCondensedBold';font-weight:normal;}
#CommonThongKeTruyCap .CommonThongKeTruyContent .count span{font-weight:bold;font:14px 'RobotoCondensedBold';font-weight:normal;}
#SubProductCateHome .Nhomsanpham .chuacosanpham{display:block;text-align:center;width:730px;height:200px;background-color:white;margin-top:100px;}
#ContentLoad{background-color:white;}
#SubProductCateHome .tieudeSPcungloai{color:#c7003d;padding-top:20px;padding-left:20px;}
#SubProductCateHome .leftslidebar{min-width:220px;width:22%;float:left;margin-top:5px;}
#SubProductCateHome{display:block;min-width:730px;width:100%;margin:0 auto;}
#SubProductCateHome .Nhomsanpham{min-width:730px;width:100%;float:right;}
#SubProductCateHome .Nhomsanpham .cate{min-width:730px;width:100%;height:32px;z-index:50;color:black;position:relative;background:#fff;border-bottom:2px solid #4d9eff;}
#SubProductCateHome .Nhomsanpham .listNews{padding-bottom:20px;background-color:white;padding:0 13px;;padding-top:5px;}
#SubProductCateHome .Nhomsanpham .cate a{height:33px;font-size:16px;font-family:'robotocondensedbold';float:left;color:#fff;text-transform:uppercase;display:block;padding:0 40px 0 10px;
    background:url(../images/bg_cate.png) no-repeat center center;background-size:100% 35px;line-height:36px;}
#SubProductCateHome .Nhomsanpham .khungAnh{width:162px;height:120px;position:relative;margin:0 auto;border:1px solid #fff;outline:1px solid #ededed;}
#SubProductCateHome .Nhomsanpham .khungAnhCrop{width:162px;height:120px;}
#SubProductCateHome .Nhomsanpham a.title{color:black;display:block;max-height:40px;overflow:hidden;line-height:19px;margin:0 auto;padding-top:10px;padding-left:1px;padding-right:5px;font-family:'robotocondensed';font-size:14px;}
#SubProductCateHome .Nhomsanpham a.title:hover{color:#4d9eff;}
#SubProductCateHome .Nhomsanpham a.namesanpham{text-align:center;color:black;display:block;margin:0 auto;text-transform:uppercase;padding-top:10px;}
#SubProductCateHome .Nhomsanpham a.namesanpham:hover{color:#005aae;}
#SubProductCateHome .Nhomsanpham a.detail{color:#e92445;}#SubProductCateHome .Nhomsanpham .baosanpham{display:block;width:167px;height:215px;float:left;position:relative;margin-right:12px;}
#SubProductCateHome .Nhomsanpham .thutu3{margin-right:0;}
#SubProductCateHome .Nhomsanpham span.xemthem{display:block;text-transform:lowercase;font-family:Arial;font-size:12px;position:absolute;right:20px;color:black;}
#SubProductCateHome .Nhomsanpham .baosanpham .button{display:block;background-color:#6a1b60;width:114px;height:27px;border:none;color:white;font-family:Arial;font-size:12px;font-weight:bold;margin-left:61px;margin-top:5px;cursor:pointer;}
#SubProductCateHome .Nhomsanpham .baosanpham .button:hover{color:red;}
#SubProductCateHome .Nhomsanpham .baosanpham:hover .khungAnh{outline:1px solid #4d9eff;}
#SubProductCateHome .Nhomsanpham .baosanpham:hover .title{color:#4d9eff;}
#SubProductCateHome .Nhomsanpham .baosanpham span{display:block;font-family:Arial;font-size:12px;font-weight:bold;margin-top:5px;}
#SubProductCateHome .Nhomsanpham .baosanpham .giasp{font-family:'robotocondensed';font-size:14px;
     background:url(../images/vachnhomsptrangchu.png) repeat-x left top;padding-top:7px;margin-top:6px;}
#SubProductCateHome .Nhomsanpham .baosanpham .giasp b{color:red;font-weight:normal;font-family:'robotocondensedbold';}
#SubProductCateHome .Nhomsanpham .baosanpham .anhthuoctinh{position:absolute;right:10px;top:0;width:27px;height:49px;z-index:5;}
#SubProductCateHome .Nhomsanpham .xemtiep{display:block;width:70px;height:14px;
     background:url(../images/xemtiep.png) no-repeat right 15px center!important;position:absolute;right:0;top:0;}
#SubProductCateHome .Nhomsanpham .xemtiep:hover{
     background:url(../images/xemtiep_hover.png);}
#SubProductCateHome .Nhomsanpham .tronglist{padding-bottom:10px;padding-top:10px;}
#SubProductCateHome .Nhomsanpham .bgkhong{background:none;}#BaoCommonFooter{
    background:url(../images/bg_footer.png) repeat-x left top;padding-top:20px;}
#CommonFooter{background:#4d9eff;padding-bottom:10px;padding-top:0;}
#CommonFooter .ContentFooter{width:980px;margin:0 auto;position:relative;}
#CommonFooter .ContentFooter .LeftContentFooter{width:650px;float:left;line-height:20px;margin-right:20px;color:#fff;font:normal 15px/24px 'robotocondensed';}
#CommonFooter .ContentFooter .CenterContentFooter{width:215px;float:left;}
#CommonFooter .ContentFooter .CenterContentFooter span{font:16px 'robotocondensed';color:#fff;display:block;text-transform:uppercase;margin-bottom:8px;}
#CommonFooter .ContentFooter .CenterContentFooter p{font:14px/24px 'robotocondensed';color:#fff;display:block;}
#CommonFooter .txtDangky{padding:6px 7px;border-top-left-radius:5px;border-bottom-left-radius:5px;background-color:#505050;width:140px;float:left;font:12px 'robotocondensed';color:#fff;border:none;margin-top:15px;}
#CommonFooter .btnDangky{width:48px;height:29px;float:left;border-top-right-radius:5px;border-bottom-right-radius:5px;font:16px/24px 'robotocondensed';color:#fff;text-align:center;border:none;background-color:#333;cursor:pointer;margin-top:15px;}
#BotomCommomFooter{background-color:#3986e1;height:40px;width:100%;}
#BotomCommomFooter .Noidung{width:980px;margin:0 auto;position:relative;}
#BotomCommomFooter .banquyen{color:#d8eaff;float:left;font:12px 'robotocondensed';position:absolute;right:-50px;top:13px;}
#BotomCommomFooter .banquyen a{color:#d8eaff;font:12px 'robotocondensed';}
#CommonFooter .ContentFooter .LeftContentFooter .titleft{min-height:25px;position:relative;z-index:1;font:normal 25px/22px 'robotocondensedbold';color:#fff;float:left;text-transform:uppercase;}
#BotomCommomFooter .txtDangky{padding:2px 10px;height:20px;width:230px;background:#cae2ff;font:normal 13px/20px 'robotocondensed';color:#636363;border:none;margin-top:7px;border-radius:4px;}
#BotomCommomFooter .btnDangky{text-transform:uppercase;width:54px;height:24px;text-align:center;line-height:24px;font:normal 14px 'robotocondensed';color:#fff;background:#1d77e4;border-radius:4px;border:none;cursor:pointer;}
#CommonFacebook{position:absolute;right:-30px;top:5px;
     background:url(../images/bg_commnfoot.png) no-repeat;padding:6px 36px;overflow:hidden;height:150px;}
#CommonFacebook .ContentCommonFacebook{height:145px;background-color:#fff;padding:2px 9px;}
#CommonFacebook .mCSB_container{width:auto;overflow:hidden;}#CommonFacebook .mCSB_container.mCS_no_scrollbar{margin-right:0;}
#CommonFacebook .mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,#CommonFacebook .mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{margin-right:30px;}
#CommonFacebook .mCustomScrollBox>.mCSB_scrollTools{width:10px;height:100%;top:0;border-left:1px solid #fff;border-right:2px solid #fff;right:0;background-color:#fff;}
#CommonFacebook .mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0;bottom:0;right:0;height:auto;background:#fff;}
#CommonFacebook .mCSB_scrollTools a+.mCSB_draggerContainer{margin:20px 0;}
#CommonFacebook .mCSB_scrollTools .mCSB_draggerRail{width:2px;height:100%;margin:0 auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
#CommonFacebook .mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:30px;}
#CommonFacebook .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;height:100%;margin:0 auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-align:center;margin:5px auto;}
#CommonFacebook .mCSB_scrollTools .mCSB_buttonUp,#CommonFacebook .mCSB_scrollTools .mCSB_buttonDown{display:block;position:relative;height:20px;overflow:hidden;margin:0 auto;cursor:pointer;}
#CommonFacebook .mCSB_scrollTools .mCSB_buttonDown{top:100%;margin-top:-40px;}
#CommonFacebook .mCSB_horizontal>.mCSB_container{height:auto;margin-right:0;margin-bottom:30px;overflow:hidden;}
#CommonFacebook .mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{margin-bottom:0;}
#CommonFacebook .mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,#CommonFacebook .mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{margin-right:0;margin-bottom:30px;}
#CommonFacebook .mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{width:100%;height:16px;top:auto;right:auto;bottom:0;left:0;overflow:hidden;}
#CommonFacebook .mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{margin:0 20px;}
#CommonFacebook .mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:2px;margin:7px 0;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
#CommonFacebook .mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{width:30px;height:100%;}
#CommonFacebook .mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:4px;margin:6px auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
#CommonFacebook .mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,#CommonFacebook .mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{display:block;position:relative;width:20px;height:100%;overflow:hidden;margin:0 auto;cursor:pointer;float:left;}
#CommonFacebook .mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{margin-left:-40px;float:right;}
#CommonFacebook .mCustomScrollBox{-ms-touch-action:none;}
#CommonFacebook .mCustomScrollBox>.mCSB_scrollTools{opacity:.75;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)";}
#CommonFacebook .mCustomScrollBox:hover>.mCSB_scrollTools{opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)";}
#CommonFacebook .mCSB_scrollTools .mCSB_draggerRail{background:#000;background:rgba(0,0,0,0.4);filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)";}
#CommonFacebook .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#fff;background:#4d9eff;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)";}
#CommonFacebook .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,0.85);filter:"alpha(opacity=85)";-ms-filter:"alpha(opacity=85)";}
#CommonFacebook .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,#CommonFacebook .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,0.9);filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)";}
#CommonFacebook .mCSB_scrollTools .mCSB_buttonUp,#CommonFacebook .mCSB_scrollTools .mCSB_buttonDown,#CommonFacebook .mCSB_scrollTools .mCSB_buttonLeft,#CommonFacebook .mCSB_scrollTools .mCSB_buttonRight{
    background-image:url(/cms/display/CommonControls/mCSB_buttons.png);background-repeat:no-repeat;opacity:.4;filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)";}
#CommonFacebook .mCSB_scrollTools .mCSB_buttonUp{background-position:0 0;}#CommonFacebook .mCSB_scrollTools .mCSB_buttonDown{background-position:0 -20px;}
#CommonFacebook .mCSB_scrollTools .mCSB_buttonLeft{background-position:0 -40px;}
#CommonFacebook .mCSB_scrollTools .mCSB_buttonRight{background-position:0 -56px;}
#CommonFacebook .mCSB_scrollTools .mCSB_buttonUp:hover,#CommonFacebook .mCSB_scrollTools .mCSB_buttonDown:hover,#CommonFacebook .mCSB_scrollTools .mCSB_buttonLeft:hover,#CommonFacebook .mCSB_scrollTools .mCSB_buttonRight:hover{opacity:.75;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)";}
#CommonFacebook .mCSB_scrollTools .mCSB_buttonUp:active,#CommonFacebook .mCSB_scrollTools .mCSB_buttonDown:active,#CommonFacebook .mCSB_scrollTools .mCSB_buttonLeft:active,#CommonFacebook .mCSB_scrollTools .mCSB_buttonRight:active{opacity:.9;filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)";}
#CommonFacebook .mCS-dark>.mCSB_scrollTools .mCSB_draggerRail{background:#000;background:rgba(0,0,0,0.15);}
#CommonFacebook .mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#000;background:rgba(0,0,0,0.75);}
#CommonFacebook .mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(0,0,0,0.85);}
#CommonFacebook .mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,#CommonFacebook .mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(0,0,0,0.9);}
#CommonFacebook .mCS-dark>.mCSB_scrollTools .mCSB_buttonUp{background-position:-80px 0;}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown{background-position:-80px -20px;}
#CommonFacebook .mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-80px -40px;}
#CommonFacebook .mCS-dark>.mCSB_scrollTools .mCSB_buttonRight{background-position:-80px -56px;}
#CommonFacebook .mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail{width:4px;background:#fff;background:#0d223c;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}
#CommonFacebook .mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;background:#fff;background:rgba(255,255,255,0.75);-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;padding:5px 0;}
#CommonFacebook .mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:4px;margin:6px 0;}
#CommonFacebook .mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:4px;margin:6px auto;}
#CommonFacebook .mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,0.85);}
#CommonFacebook .mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,#CommonFacebook .mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,0.9);}
#CommonFacebook .mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp{background-position:-32px 0;}
#CommonFacebook .mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown{background-position:-32px -20px;}
#CommonFacebook .mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-40px -40px;}
#CommonFacebook .mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight{background-position:-40px -56px;}
#CommonFacebook .mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail{width:4px;background:#000;background:rgba(0,0,0,0.1);-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}
#CommonFacebook .mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:4px;background:#000;background:rgba(0,0,0,0.75);-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}
#CommonFacebook .mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:4px;margin:6px 0;}
#CommonFacebook .mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:4px;margin:6px auto;}
#CommonFacebook .mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(0,0,0,0.85);}
#CommonFacebook .mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,#CommonFacebook .mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(0,0,0,0.9);}
#CommonFacebook .mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp{background-position:-112px 0;}
#CommonFacebook .mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown{background-position:-112px -20px;}
#CommonFacebook .mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-120px -40px;}
#CommonFacebook .mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight{background-position:-120px -56px;}
#CommonFacebook .mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail{width:4px;background:#fff;background:rgba(255,255,255,0.1);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
#CommonFacebook .mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;background:#fff;background:rgba(255,255,255,0.75);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
#CommonFacebook .mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:4px;margin:6px 0;}
#CommonFacebook .mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:6px;margin:5px auto;}
#CommonFacebook .mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,0.85);}
#CommonFacebook .mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,#CommonFacebook .mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,0.9);}
#CommonFacebook .mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp{background-position:-16px 0;}
#CommonFacebook .mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown{background-position:-16px -20px;}
#CommonFacebook .mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-20px -40px;}
#CommonFacebook .mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight{background-position:-20px -56px;}
#CommonFacebook .mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail{width:4px;background:#000;background:rgba(0,0,0,0.1);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
#CommonFacebook .mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;background:#000;background:rgba(0,0,0,0.75);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
#CommonFacebook .mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;height:4px;margin:6px 0;}
#CommonFacebook .mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:6px;margin:5px auto;}
#CommonFacebook .mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(0,0,0,0.85);}
#CommonFacebook .mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,#CommonFacebook .mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(0,0,0,0.9);}
#CommonFacebook .mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp{background-position:-96px 0;}
#CommonFacebook .mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown{background-position:-96px -20px;}
#CommonFacebook .mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-100px -40px;}
#CommonFacebook .mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight{background-position:-100px -56px;}
#CommonFacebook .mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail{background:#fff;background:rgba(255,255,255,0.1);}
#CommonFacebook .mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:2px;}
#CommonFacebook .mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;}
#CommonFacebook .mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:2px;margin:7px auto;}
#CommonFacebook .mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail{background:#000;background:rgba(0,0,0,0.15);}
#CommonFacebook .mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:2px;background:#000;background:rgba(0,0,0,0.75);}
#CommonFacebook .mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{width:100%;}
#CommonFacebook .mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:2px;margin:7px auto;}
#CommonFacebook .mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(0,0,0,0.85);}
#CommonFacebook .mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,#CommonFacebook .mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(0,0,0,0.9);}
#CommonFacebook .mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp{background-position:-80px 0;}
#CommonFacebook .mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown{background-position:-80px -20px;}
#CommonFacebook .mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft{background-position:-80px -40px;}
#CommonFacebook .mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight{background-position:-80px -56px;}
#CommonFacebook .content_1>.mCustomScrollBox>.mCSB_scrollTools{height:96%;top:2%;}
#CommonFacebook .content_2 .mCSB_scrollTools .mCSB_draggerRail{width:6px;box-shadow:1px 1px 1px rgba(255,255,255,0.1);}
#CommonFacebook .content_2 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:rgba(255,255,255,0.4);filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)";}
#CommonFacebook .content_2 .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:rgba(255,255,255,0.5);filter:"alpha(opacity=50)";-ms-filter:"alpha(opacity=50)";}
#CommonFacebook .content_2 .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,#CommonFacebook .content_2 .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:rgba(255,255,255,0.6);filter:"alpha(opacity=60)";-ms-filter:"alpha(opacity=60)";}
#CommonFacebook .content_3>.mCustomScrollBox>.mCSB_scrollTools{height:94%;top:3%;}
#CommonFacebook .content_3 .mCSB_scrollTools .mCSB_draggerRail{width:0;border-right:1px dashed #09C;}
#CommonFacebook .content_3 .mCSB_scrollTools .mCSB_dragger{height:11px;}
#CommonFacebook .content_3 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:11px;-webkit-border-radius:11px;-moz-border-radius:11px;border-radius:11px;background:#09C;}
#CommonFacebook .content_4>.mCustomScrollBox>.mCSB_scrollTools{height:94%;top:3%;}
#CommonFacebook .content_4 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:8px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#d0b9a0;-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.5);-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.5);box-shadow:1px 1px 5px rgba(0,0,0,0.5);}
#CommonFacebook .content_4 .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,#CommonFacebook .content_4 .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:#dfcdb9;}
#CommonFacebook .content_4 .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,#CommonFacebook .content_4 .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{-webkit-box-shadow:0 0 3px rgba(0,0,0,0.5);-moz-box-shadow:0 0 3px rgba(0,0,0,0.5);box-shadow:0 0 3px rgba(0,0,0,0.5);}
#CommonFacebook .content_5>.mCustomScrollBox>.mCSB_scrollTools{width:98%;margin:0 1%;}
#CommonFacebook .content_6>.mCustomScrollBox>.mCSB_scrollTools{width:88%;margin:0 6%;}
#CommonFacebook .content_8 .mCSB_scrollTools .mCSB_draggerRail{width:0;border-left:1px solid rgba(0,0,0,0.8);border-right:1px solid rgba(255,255,255,0.2);}
#CommonFacebook .mCSB_draggerRail{display:block;}
#CommonLienKetWebSite{width:210px;height:27px;float:left;margin-top:7px;position:relative;}
#CommonLienKetWebSite .lienket{
    background:url(../images/bg_lienket.png) no-repeat;display:block;width:183px;height:27px;position:absolute;top:0;left:0;z-index:2;padding-right:27px;font:14px/27px 'robotocondensed';text-indent:10px;}
#CommonLienKetWebSite .ddlLienket{width:210px;height:27px;position:absolute;top:0;left:0;z-index:3;opacity:0;}
#CommonHeader2 .TopCommonHeader2{height:100px;
    background:url(../images/bghead.png) no-repeat left top;}
#CommonHeader2 .ContentTopHeader{width:980px;margin:0 auto;}
#CommonHeader2 .ContentTopHeader .leftContentToptHeader{width:500px;float:left;}
#CommonHeader2 .ContentTopHeader .rightContentTopHeader{width:460px;float:right;}
#CommonHeader2 .BottomCommonHeader2{height:100px;
     background:url(../images/bg_headtrong.png) no-repeat center bottom;position:relative;top:5px;}
#CommonHeader2 .Hotline{font:14px 'robotocondensed';color:#fff;
     background:url(../images/icon_hotline.png) no-repeat left center;position:absolute;bottom:9px;right:230px;padding-left:20px;}
#CommonHeader2 .EmailHeThong{font:14px 'robotocondensed';color:#fff;
     background:url(../images/icon_email.png) no-repeat left center;position:absolute;bottom:9px;right:0;padding-left:20px;}
#CommonHeader2 .BaoLienHE{width:980px;height:30px;margin:0 auto;position:relative;}
#CommonHeader2 .BaoLienHE span{font-weight:normal;color:#ff1313;font-family:"robotocondensedbold";}
#CommonShareDetail{height:22px;border-top:solid 1px #f2f2f2;background:#fafafa;padding:0 10px;white-space:nowrap;}
#CommonShareDetail a{font:normal 11px/22px Tahoma;color:#aaa;display:inline-block;padding-left:15px;}
#CommonShareDetail a:hover{color:#fe0000;}#CommonShareDetail a.prev{
    background:url(../images/prev.gif) no-repeat 0 8px;}
#CommonShareDetail a.top{
    background:url(../images/top.gif.ashx) no-repeat 0 6px;padding-right:20px;}
#CommonShareDetail a.email{background:url(../images/email.gif.ashx) no-repeat 0 8px;padding-right:20px;}
#CommonShareDetail a.email span{display:none;}
#CommonShareDetail a.print{
    background:url(../images/print.gif) no-repeat 0 6px;}
#CommonShareToSocial{padding-top:2px;}
#CommonShareToSocial .item{float:right;width:25px;height:20px;}
#CommonAddthisButtonCount .cot1{float:right;width:96px;}
#CommonAddthisButtonCount .cot2{float:right;width:70px;}
#CommonAddthisButtonCount .cot3{float:left;width:100px;}
#CommonAddthisButtonCount .text{float:right;font:bold 12px/22px Arial;padding-right:15px;}
#SubProductMenu .widgettitle{
    display: block;
    width: 87%;
    height: 30px;
    margin: 0 auto;
    background: url(../images/icon_headmenuPr.png) no-repeat 10px 11px;
    background-color: #353535;
    }
#SubProductMenu .widgettitle{display: block;
    color: white;
    font-family: 'RobotoCondensedBold';
    font-size: 14px;
    padding-top: 6px;
    padding-left: 32px;
    text-transform: uppercase;}
#menu-subproductmenu{
    margin:0;
    padding:0;
}
#SubProductMenu ul > li > a{
    position: relative;
    display: block;
    color: #4d9eff;
    font-size: 14px;
    font-family: 'RobotoCondensedBold';
    height: 26px;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px solid #4d9eff;
    margin: 0;
    padding: 5px 0px 0px 10px;
}
#SubProductMenu .SubListCatePage a.catesubnew h2{font-size:14px;font-family:'RobotoCondensedBold';padding:0;margin:0;}
#SubProductMenu .SubListCatePage a.catesubnew span.center{display:block;padding-top:7px;padding-left:10px;cursor:pointer;}
#SubProductMenu .SubListCatePage a.catesubnew .socon{position:absolute;display:block;font-size:12px;font-family:'RobotoCondensedBold';color:#fff;padding:0 5px;top:8px;right:10px;border-radius:8px;}
#SubProductMenu{float:left;width:100%;min-width:220px;position:relative;z-index:9;background: white}
#SubProductMenu ul > li > ul > li > a{
    position: relative;
    display: block;
    color: #333;
    font-size: 14px;
    font-family: 'robotocondensed';
    height: 29px;
    background: url(../images/icon_subProcate.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    margin: 0 auto;
    cursor: pointer;
    padding-left: 10px;
    background-color: #fff;
    text-transform: capitalize;
    border: none;
}
ul.sub-menu{
    margin: 0;
    padding-left: 10px;
}
.recent-posts-widget-with-thumbnails ul > li > a{
    border-bottom: none!important;
}
.recent-posts-widget-with-thumbnails ul > li > a > span{
    border:none;
    text-transform: capitalize;
    color:black;
}
#SubProductMenu .SubListCatePage{margin-top:-3px;}
#SubProductMenu .itemchildfirst{position:relative;z-index:1;}
#SubProductMenu .ListChildLast{position:absolute;top:0;left:230px;width:220px;z-index:999;background:#fff;display:none;border:1px solid #4d9eff;border-left:none;}
#SubProductMenu .itemchildfirst:hover .ListChildLast{display:block;}
#CommonRoad{position:relative;z-index:1;margin:7px 0 0 0;width:485px;overflow:hidden;height:25px;}
#CommonRoad .road a.lv1{font:14px/22px 'robotocondensed';color:#fff;}
#CommonRoad a.arrow{padding-left:20px;
          background:url(../images/arrowRoad.png) no-repeat 6px 7px;}
#CommonRoad a.lv1:hover{color:red;}
#CommonRoad a.lv1:hover span{color:red;}
#CommonRoad h1{font-size:inherit;font-weight:inherit;margin:0;padding:0;display:inline-block;}
#CommonRoad span{font-weight:normal!important;}
#SubNewHightLight{border-bottom:2px solid #4d9eff;float:left;min-width:220px;background:#fff;overflow:hidden;width:100%;}
#SubNewHightLight #headerSubPageCate{display:block;width:100%;height:34px;margin:0 auto;
         background:url(../images/icon_headmenuPr.png) no-repeat 10px 12px;background-color:#353535;}
#SubNewHightLight #headerSubPageCate span{
    display: block;
    color: white;
    font-family: 'RobotoCondensedBold';
    font-size: 14px;
    padding-top: 10px;
    padding-left: 32px;
    text-transform: uppercase;}
#SubNewHightLight .itemn{margin:0 10px;margin-top:10px;padding-bottom:10px;border-bottom:1px dotted #f2f2f2;float:left;}
#SubNewHightLight .itemn .khungAnh{width:50px;height:40px;border:1px solid #ccc;position:relative;float:left;margin-right:10px;overflow:hidden;}
#SubNewHightLight .itemn .khungAnhCrop{width:50px;height:40px;}
#SubNewHightLight .itemn .title{font:normal 14px/16px robotocondensed;color:#333;}
#ConmonVote{position:relative;z-index:1;background:none;width:225px;}
#ConmonVote .head{text-shadow:0 0 .1px #fff;text-transform:uppercase;color:#fff;font:normal 15px/38px 'robotocondensed';height:38px;text-align:left;
         background:url(/cms/display/CommonControls/ConmonVote/bg_head.png.ashx) no-repeat center center;background-size:100% 100%;position:relative;z-index:1;padding-left:50px;}
#ConmonVote .content{border-top:none;width:100%!important;}
#ConmonVote input{font:14px 'robotocondensed';color:#fff;}
#ConmonVote .container{padding:0;}#ConmonVote .question{color:#fff;display:block;text-align:left;font:normal 14px/20px 'robotocondensed';}
#ConmonVote .result{font-size:14px;color:#000;}
#ConmonVote .totalConmonVote{color:#6d6d6d;padding-left:10px;}
#ConmonVote .khungBtn{width:91%;height:20px;margin:auto;}
#ConmonVote .LBT{border-radius:5px;height:28px;padding:0 10px;text-align:center;font:14px/26px 'robotocondensed';color:#fff;background:#8a9094;float:left;margin-right:5px;cursor:pointer;text-transform:uppercase;}
#ConmonVote .LBT:hover{background:#4d9eff;color:#fff;}
#ConmonVote .TraLoi{padding-left:10px;}#ConmonVote .SoPhieu{padding-left:10px;}
#ConmonVote .PhanTram{padding-left:10px;}
#ConmonVote .BieuDo_Chan{height:10px;background:#ff9600;margin-left:10px;}
#ConmonVote .BieuDo_Le{height:10px;background:#17ace6;margin-left:10px;}
#ConmonVote .BorderBottom{border-bottom:solid 1px #0c97ce;width:90%;margin:auto;}
#ConmonVote .RB{color:#fff;font:14px 'robotocondensed';}#ConmonVote input[type=radio]:checked+.overlay{background-color:green;margin:0;}
#ConmonVote .titlevd{min-height:25px;position:relative;z-index:1;font:bold 16px/22px 'robotocondensed';color:#fff;float:left;text-transform:uppercase;}
#ConmonVote .line{display:block;position:absolute;bottom:0;left:0;width:100%;background:rgba(0,0,0,0.2);height:29%;}@charset "utf-8";#AdvBackgroundSlide{width:980px;height:350px;background:#f5f5f5;margin:0 auto;position:relative;}
#AdvBackgroundSlide .AdvBackgroundSlideContent{width:980px;height:350px;}
#AdvBackgroundSlide .DuoiSlide{width:104px;height:26px;
          background:url(../images/bg_duoiSlide.png);position:absolute;bottom:0;left:438px;z-index:1000;bottom:-7px;}
.border_box{width:100%;margin:auto;height:350px;}
.box_skitter{position:relative;width:800px;height:300px;background:#000;}
.box_skitter img{max-width:none;}.box_skitter ul{display:none;}
.box_skitter .container_skitter{overflow:hidden;position:relative;margin:0 auto;}
.box_skitter .image{overflow:hidden;}.box_skitter .image img{display:none;}
.box_skitter .box_clone{position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:20;}
.box_skitter .box_clone img{position:absolute;top:0;left:0;z-index:20;}
.box_skitter .prev_button{position:absolute;top:62%;left:178px;z-index:152;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s;}
.box_skitter .next_button{position:absolute;top:62%;right:162px;z-index:152;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s;}
.box_skitter .prev_button:hover,.box_skitter .next_button:hover{opacity:.5!important;}
.box_skitter .info_slide{display:none!important;position:absolute;top:15px;left:15px;z-index:100;background:#000;color:#fff;font:bold 11px arial;padding:5px 0 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;opacity:.75;}
.box_skitter .info_slide .image_number{background:#333;float:left;padding:2px 10px;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s;}
.box_skitter .info_slide .image_number_select,.box_skitter .info_slide .image_number_select:hover{background:#c33;float:left;padding:2px 10px;margin:0 5px 0 0;}
.box_skitter .container_thumbs{position:relative;overflow:hidden;height:50px;}
.box_skitter .info_slide_thumb{height:50px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;overflow:hidden;top:auto;top:0;left:0;padding:0!important;opacity:1.0;}
.box_skitter .info_slide_thumb .image_number{overflow:hidden;width:100px;height:50px;position:relative;margin:0!important;padding:0!important;-moz-border-radius:0!important;-webkit-border-radius:0!important;border-radius:0!important;}
.box_skitter .info_slide_thumb .image_number img{position:absolute;top:-30px;left:-30px;height:100px;}
.box_skitter .box_scroll_thumbs{padding:0;}
.box_skitter .box_scroll_thumbs .scroll_thumbs{position:absolute;bottom:60px;left:50px;background:#ccc;background:-moz-linear-gradient(-90deg,#555,#fff);background:-webkit-gradient(linear,left top,left bottom,from(#555),to(#fff));width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101;cursor:pointer;border:0 solid #333;}
.box_skitter .info_slide_dots{position:absolute;bottom:-40px;z-index:1100;padding:5px 0 5px 5px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;bottom:-4px;left:460px;}
.box_skitter .info_slide_dots .image_number{
    background:url(../images/dot.png);float:left;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;width:8px;height:8px;text-indent:-9999em;overflow:hidden;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s;}
.box_skitter .info_slide_dots .image_number:hover{
    background:url(../images/dot_hv.png);}
.box_skitter .info_slide_dots .image_number_select,.box_skitter .info_slide_dots .image_number_select:hover{
    background:url(../images/dot_hv.png);float:left;margin:0 5px 0 0;}
.loading{position:absolute;top:50%;right:50%;z-index:10000;margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;
    background:url(/cms/display/Adv/images/ajax-loader.gif) no-repeat left top;width:32px;height:32px;}
.box_skitter .label_skitter{z-index:150;position:absolute;bottom:0;left:0;display:none;}
.box_skitter .label_skitter{z-index:150;position:absolute;bottom:0;left:0;color:#fff;display:none;opacity:.8;background:#000;}
.box_skitter .label_skitter p{padding:10px;margin:0;font:normal 22px arial,tahoma;letter-spacing:-1px;}
.box_skitter .progressbar{display:none!important;background:#000;position:absolute;top:5px;left:15px;height:5px;width:200px;z-index:99;border-radius:20px;}
.box_skitter .preview_slide{display:none;position:absolute;z-index:152;bottom:30px;left:-40px;width:100px;height:100px;background:#fff;border:1px solid #222;-moz-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px;-webkit-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px;box-shadow:rgba(0,0,0,0.7) 2px 2px 5px;overflow:hidden;}
.box_skitter .preview_slide ul{height:100px!important;overflow:hidden!important;margin:0!important;list-style:none!important;display:block!important;position:absolute!important;top:0;left:0;}
.box_skitter .preview_slide ul li{width:100px!important;height:100px!important;overflow:hidden!important;float:left!important;margin:0!important;padding:0!important;position:relative!important;display:block!important;}
.box_skitter .preview_slide ul li img{position:absolute!important;top:0!important;left:0!important;height:150px!important;width:auto!important;}
#overlay_skitter{position:absolute;top:0;left:0;width:100%;z-index:9998;opacity:1;background:#000;}
.box_skitter .focus_button{position:absolute;top:50%;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;opacity:0;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s;}
.box_skitter .play_pause_button{position:absolute;top:50%;z-index:151;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;opacity:0;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s;}
.box_skitter .play_pause_button:hover{opacity:.5!important;}
.box_skitter .focus_button:hover{opacity:.5!important;}
.box_skitter_large{width:980px;height:350px;margin:auto;background:#f2f2f2;}
.box_skitter_small{width:200px;height:100px;}
.box_skitter .focus_button,.box_skitter .next_button,.box_skitter .prev_button,.box_skitter .play_pause_button{display:block;
     background:url(/cms/images/sprite-default.png') no-repeat;}.box_skitter .next_button{background-position:-0px -42px;width:42px;height:42px;display:none;}
.box_skitter .prev_button{background-position:-42px -42px;width:42px;height:42px;display:none;}
.box_skitter .play_pause_button{background-position:-0px -0px;width:42px;height:42px;}
.box_skitter .play_pause_button.play_button{background-position:-0px -84px;width:42px;height:42px;}
.box_skitter .focus_button{background-position:-42px -0px;width:42px;height:42px;}
.skitter-minimalist .prev_button,.skitter-minimalist .next_button,.skitter-minimalist .play_pause_button,.skitter-minimalist .focus_button{display:block;
     background:url(/images/sprite-minimalist.png') no-repeat!important;}
.skitter-minimalist .prev_button{background-position:-0px -0px!important;width:24px!important;height:28px!important;left:-45px!important;}
.skitter-minimalist .next_button{background-position:-0px -28px!important;width:24px!important;height:28px!important;right:-45px!important;}
.skitter-minimalist .play_pause_button{background-position:-0px -74px!important;width:18px!important;height:18px!important;}
.skitter-minimalist .play_pause_button.play_button{background-position:-0px -56px!important;width:18px!important;height:18px!important;}
.skitter-minimalist .focus_button{background-position:-0px -92px!important;width:18px!important;height:18px!important;}
.skitter-minimalist .info_slide{background:transparent;}
.skitter-minimalist .info_slide .image_number{background:#000;box-shadow:rgba(255,255,255,0.2) 1px 1px 0;font-size:12px;font-weight:normal;}
.skitter-minimalist .info_slide .image_number:hover{background:#111;}
.skitter-minimalist .info_slide .image_number_select,.skitter-minimalist .info_slide .image_number_select:hover{background:#c33;}
.skitter-minimalist .info_slide_dots .image_number{width:14px;height:14px;box-shadow:rgba(255,255,255,0.2) 1px 1px 0;}.skitter-round .prev_button,.skitter-round .next_button,.skitter-round .play_pause_button,.skitter-round .focus_button{display:block;
    background:url(/images/sprite-round.png') no-repeat;}.skitter-round .prev_button{background-position:-0px -0px;width:23px;height:47px;left:-23px;}
.skitter-round .next_button{background-position:-23px -0px;width:23px;height:47px;right:-23px;}
.skitter-round .next_button:hover,.skitter-round .prev_button:hover{opacity:1;}
.skitter-round .play_pause_button{background-position:-0px -70px;width:47px;height:23px;top:24px;left:24px!important;}
.skitter-round .play_pause_button.play_button{background-position:-0px -47px;width:47px;height:23px;top:24px;}
.skitter-round .focus_button{background-position:-0px -93px;width:47px;height:23px;top:24px;left:82px!important;}
.skitter-round .info_slide{background:transparent;}
.skitter-round .info_slide .image_number{background:#999;box-shadow:rgba(255,255,255,0.2) 1px 1px 0;font-size:12px;font-weight:normal;}
.skitter-round .info_slide .image_number:hover{background:#333;}.skitter-round .info_slide .image_number_select,.skitter-round .info_slide .image_number_select:hover{background:#111;}
.skitter-round .info_slide_dots .image_number{width:14px;height:14px;box-shadow:rgba(255,255,255,0.2) 1px 1px 0;background:#999;}
.skitter-round .info_slide_dots .image_number:hover{background:#333;}
.skitter-round .info_slide_dots .image_number_select,.skitter-round .info_slide_dots .image_number_select:hover{background:#111;}
.skitter-round .progressbar{top:-10px;left:0;background:#333;box-shadow:rgba(255,255,255,0.3) 1px 1px 0;}
.skitter-clean .prev_button,.skitter-clean .next_button,.skitter-clean .play_pause_button,.skitter-clean .focus_button{display:block;
     background:url(/images/sprite-clean.png') no-repeat;}
.skitter-clean .prev_button{background-position:0 0;width:47px;height:46px;
     background:url(/cms/display/Adv/AdvBackgroundSlide/prev.png) no-repeat center center;}
.skitter-clean .next_button{background-position:0 -46px;width:47px;height:46px;
     background:url(/cms/display/Adv/AdvBackgroundSlide/next.png) no-repeat center center;}
.skitter-clean .play_pause_button{background-position:-0px -133px;width:41px;height:41px;}
.skitter-clean .play_pause_button.play_button{background-position:-0px -92px;width:41px;height:41px;}
.skitter-clean .focus_button{background-position:-0px -174px;width:41px;height:41px;}
.skitter-clean .info_slide{background:transparent;}
.skitter-clean .info_slide .image_number{background:#fff;box-shadow:rgba(0,0,0,0.2) 1px 1px 0;font-size:12px;font-weight:normal;color:#333;}.skitter-clean .info_slide .image_number:hover{background:#ccc;}
.skitter-clean .info_slide .image_number_select,.skitter-clean .info_slide .image_number_select:hover{background:#111;color:#fff;}
.skitter-clean .info_slide_dots{bottom:10px;left:10px!important;}
.skitter-clean .info_slide_dots .image_number{width:20px;height:20px;margin:0;padding:0;
     background:url(../images/dot.png) no-repeat center center;}
.skitter-clean .info_slide_dots .image_number:hover{
     background:url(../images/dot_hv.png) no-repeat center center;padding:0;margin:0;}
.skitter-clean .info_slide_dots .image_number_select,.skitter-clean .info_slide_dots .image_number_select:hover{
    background:url(../images/dot_hv.png) no-repeat center center;}
.skitter-clean .progressbar{top:5px;left:5px;background:#fff;box-shadow:rgba(0,0,0,0.5) 1px 1px 0;}
.skitter-square .play_pause_button,.skitter-square .next_button,.skitter-square .focus_button,.skitter-square .prev_button{display:block;
    background:url(/images/sprite-square.png') no-repeat;}
.skitter-square .play_pause_button{background-position:-55px -0px;width:55px;height:55px;top:10px!important;left:10px!important;bottom:auto!important;right:auto!important;margin-top:0;}
.skitter-square .play_pause_button.play_button{background-position:-0px -0px;width:55px;height:55px;}
.skitter-square .focus_button{background-position:-55px -55px;width:55px;height:55px;top:10px!important;left:65px!important;bottom:auto!important;right:auto!important;margin-top:0;}
.skitter-square .next_button{background-position:-0px -55px;width:55px;height:55px;top:auto;left:auto;bottom:10px;right:10px;}
.skitter-square .prev_button{background-position:-0px -110px;width:55px;height:55px;top:auto;left:auto;bottom:10px;right:65px;}
.skitter-square .info_slide{background:transparent;}
.skitter-square .info_slide .image_number{background:#fff;box-shadow:rgba(0,0,0,0.2) 1px 1px 0;font-size:12px;font-weight:normal;color:#333;}
.skitter-square .info_slide .image_number:hover{background:#ccc;}
.skitter-square .info_slide .image_number_select,.skitter-square .info_slide .image_number_select:hover{background:#111;color:#fff;}
.skitter-square .info_slide_dots .image_number{width:14px;height:14px;box-shadow:rgba(255,255,255,0.2) 1px 1px 0;background:#ccc;}
.skitter-square .info_slide_dots .image_number:hover{background:#999;}
.skitter-square .info_slide_dots .image_number_select,.skitter-square .info_slide_dots .image_number_select:hover{background:#555;}
.skitter-square .progressbar{top:0!important;left:0!important;width:100%;background:#fff;border-radius:0;height:2px;}
#AdvQuangCaoSupport{width:230px;}
#AdvQuangCaoSupport img{max-width:100%;}

#trangchitiet {
    width: 700px;
    padding: 10px 15px;
    float: right;
    background: white;
}
#trangchitiet h1.title {
    color: #4d9eff;
    font: normal 14px/18px "RobotoCondensedbold";
    text-transform: uppercase;
}
#trangchitiet .tool {
    background: #fafafa;
    border-top: 1px solid #f2f2f2;
    font: normal 11px RobotoCondensed;
    color: #aaa;
    padding: 5px;
    margin: 10px 0 10px 0;
}
#trangchitiet .date {
    float: left;
    padding-left: 15px;
    padding-right: 22px;
    background: url(images/date.gif) no-repeat left center;
}
#trangchitiet .view {
    float: left;
    padding-left: 15px;
    background: url(images/view.gif) no-repeat left center;
}
#trangchitiet .contentview {
    line-height: 20px;
    padding-bottom: 20px;
    text-align: justify;
    font-family: RobotoCondensed;
    font-size: 14px;
}
#trangchitiet .baikhac {
    font: normal 14px/24px "RobotoCondensedbold";
    color: #4d9eff;
    text-transform: uppercase;
    padding-top: 10px;
}
#trangchitiet  a.title {
    border-bottom: 1px dotted #e2e2e2;
    line-height: 22px;
    font: 13px 'RobotoCondensed';
    color: #333;
    background: url(images/tintuckhac.png) no-repeat 0 10px;
    display: block;
    padding: 4px 10px 4px 16px;
}
#trangchitiet a.title:hover {
    background: url(images/tintuckhac_hover.png) no-repeat 0 10px;
    color: #4d9eff;
}
#trangchitiet  a.title span {
    color: #c2c2c2;
}
.lienhe{
    float: right;
    width: 730px;
    background: white;
    min-height: 859px;
}
.ndlienhe{
    background: #fff;
    width: 730px;
    margin: auto;
    padding-bottom: 20px;
}
.info {
    font: normal 14px robotocondensed!important;
    color: #535353;
    margin: 0 10px;
}
.formlh {
    background: #fff;
    width: 730px;
    margin: auto;
    padding-bottom: 20px;
    margin-top:20px;
}
.formlh .left {
    width: 300px;
    float: left;
    padding-left: 15px;
}
.formlh .left .control {
    float: left;
    width: 85px;
    font: normal 14px robotocondensed;
    color: #535353;
}
.formlh .left .control span {
    float: right;
    color: #ce4343;
}
.formlh .left .text {
    background-color: #fbfbfb;
    font-size: 11px;
    border: 1px solid #c5c5c5;
    width: 253px;
    color: #333;
    padding: 5px 5px;
    margin-bottom: 10px;
    float: right;
}
.formlh .left .textare {
    font-family: Arial;
    background-color: #fbfbfb;
    font-size: 11px;
    border: 1px solid #c5c5c5;
    color: #333;
    width: 253px;
    height: 72px;
    padding: 5px 5px;
    margin-bottom: 10px;
    float: right;
}
.formlh .left .mabaomat {
    background-color: #fbfbfb;
    font-size: 11px;
    float: left;
    color: #333;
    border: 1px solid #c5c5c5;
    padding: 5px 7px;
    width: 66px;
    margin-left: 5px;
}
.formlh .wpcf7-submit {
    font: normal 14px robotocondensed;
    background-color: #c2c2c2;
    float: left;
    cursor: pointer;
    color: #727272;
    text-align: center;
    border-radius: 5px;
    width: 57px;
    height: 27px;
    border: none;
    margin-left: 90px;
    margin-top:10px;
    margin-bottom: 20px;
}
.formlh .btngui:hover{
    background-color: #4d9eff;
    color: #fff;
}
.formlh .right{
    width: 400px;
    float: right;
    margin-right: 15px;
}
.formlh .right iframe{
    border: 1px solid silver;
    width: 328px;
    height: 286px;
}
#obv{
    padding: 22px 14px 12px;
    background: white;
}
#obv .item {
    overflow: hidden;
    margin-bottom: 32px;
}
#obv .khungAnhCropBg {
    float: left;
    width: 131px;
    height: 98px;
    margin-right: 13px;
    border: 1px solid #e8e8e8;
    padding: 2px;
}
#obv .khungAnhCrop {
    width: 131px;
    height: 98px;
    position: relative;
    overflow: hidden;
    display: block;
}
#obv .khungAnhCrop img{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 131px !important;
    height: 104px !important;
}
#obv .name {
    display: block;
    font: normal 14px/20px "RobotoCondensedBold";
    color: #333;
    line-height: 20px;
    margin-bottom: 2px;
    text-transform: uppercase;
}
#obv .item:hover .name {
    color: #4d9eff;
}
#obv .date {
    display: block;
    color: #a8a8a8;
    text-align: justify;
    font: normal 14px/21px "RobotoCondensed";
}
#obv .des {
    display: block;
    color: #333;
    text-align: justify;
    font: normal 14px/21px "RobotoCondensed";
}