﻿#AdvPartnerHomepage {display:block;position:relative;padding:0px 0px 0px 0px;width:980px;margin:0 auto}
#AdvPartnerHomepage #mycarouselImg {width:880px!important;height:104px;margin-top:5px;height:103px; position:relative;margin:0px auto}
#AdvPartnerHomepage #mycarouselImg li {list-style:none;width: 180px;height: 103px;line-height:103px; margin:0px 5px 0 5px}
#AdvPartnerHomepage #mycarouselImg li img {vertical-align:middle}
#AdvPartnerHomepage .pTitle {display:none;font-size:18px;font-family:'robotocondensed';color:#333;text-transform:uppercase;padding-bottom:5px;background:url(../images/bg_doitac.png);width:115px;position:absolute;bottom:-30px;left:405px;padding-left:58px;padding-top:5px;}
#AdvPartnerHomepage .pTitle a {color:#0c4ca3}
#AdvPartnerHomepage .btnPre {position:absolute;top:45%;left:0px;cursor:pointer;z-index:50; }
#AdvPartnerHomepage .btnNext {position:absolute;top:45%;right:-7px;cursor:pointer;z-index:50; }
#AdvPartnerHomepage .pLeftBtn {width:23px;height:23px;background:url(../images/truoc.png) no-repeat}

#AdvPartnerHomepage .pRightBtn {width:23px;height:23px;background:url(../images/sau1.png) no-repeat}

#BaoAdvPartnerHomepage{background-color:white}
#AdvFooter{float:left}
#AdvFooter img{float:right;width:22px;height:21px;margin-left:7px;cursor:pointer; opacity:0.5}
    #AdvFooter img:hover {opacity:1}
