﻿@font-face
{
    font-family: 'ArialRounded';
    src: url('font/arialrounded.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/arialrounded.ttf') format('truetype'); /* Safari, Android, iOS */
}


@font-face
{
    font-family: 'UTMAlterGothic';
    src:  url('font/UTMAlterGothic.ttf') format('truetype'); /* Safari, Android, iOS */
}


@font-face
{
    font-family: 'FreeFori';
    src: url('font/freefori.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/freefori.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'Fujiyama';
    src: url('font/fujiyama.eot'), /* IE9 Compat Modes */
    url('font/fujiyama.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/fujiyama.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'MyriadPro';
    src: url('font/myriadpro.eot'), /* IE9 Compat Modes */
    url('font/myriadpro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/myriadpro.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'MyriadProBold';
    src: url('font/myriadprobold.eot'), /* IE9 Compat Modes */
    url('font/myriadprobold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/myriadprobold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'MyriadProBoldCondensed';
    src: url('font/myriadproboldcondensed.eot'), /* IE9 Compat Modes */
    url('font/myriadproboldcondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/myriadproboldcondensed.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'MyriadProCondensed';
    src: url('font/myriadprocondensed.eot'), /* IE9 Compat Modes */
    url('font/myriadprocondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/myriadprocondensed.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansBold';
    src: url('font/opensansbold.eot'), /* IE9 Compat Modes */
    url('font/opensansbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensansbold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansBoldItalic';
    src: url('font/opensansbolditalic.eot'), /* IE9 Compat Modes */
    url('font/opensansbolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensansbolditalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansCondensedBold';
    src: url('font/opensanscondensedbold.eot'), /* IE9 Compat Modes */
    url('font/opensanscondensedbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fotn/opensanscondensedbold.ttf') format('truetype');/* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansCondensedLight';
    src: url('font/opensanscondensedlight.eot'), /* IE9 Compat Modes */
    url('font/opensanscondensedlight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensanscondensedlight.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansCondensedLightItalic';
    src: url('font/opensanscondensedlightitalic.eot'), /* IE9 Compat Modes */
    url('font/opensanscondensedlightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensanscondensedlightitalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansExtraBold';
    src: url('font/opensansextrabold.eot'), /* IE9 Compat Modes */
    url('font/opensansextrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensansextrabold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansExtraBoldItalic';
    src: url('font/opensansextrabolditalic.eot'), /* IE9 Compat Modes */
    url('font/opensansextrabolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensansextrabolditalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansItalic';
    src: url('font/opensansitalic.eot'), /* IE9 Compat Modes */
    url('font/opensansitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensansitalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansLight';
    src: url('font/opensanslight.eot'), /* IE9 Compat Modes */
    url('font/opensanslight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensanslight.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpeSansLightItalic';
    src: url('font/opensanslightitalic.eot'), /* IE9 Compat Modes */
    url('font/opensanslightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensanslightitalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSans';
    src: url('font/opensans.eot'), /* IE9 Compat Modes */
    url('font/opensans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensans.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansSemiBold';
    src: url('font/opensanssemibold.eot'), /* IE9 Compat Modes */
    url('font/opensanssemibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/opensanssemibold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face
{
    font-family: 'OpenSansSemiBoldItalic';
    src: url('font/opensanssemibolditalic.eot'); /* IE9 Compat Modes */
    src: url('font/opensanssemibolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('opensanssemibolditalic.woff') format('woff'), /* Modern Browsers */
    url('font/opensanssemibolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('opensanssemibolditalic.svg#OpenSansSemiBoldItalic') format('svg'); /* Legacy iOS */
}

@font-face
{
    font-family: 'Roboto';
    src: url('font/roboto.eot'); /* IE9 Compat Modes */
    src: url('font/roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/roboto.ttf') format('truetype'); /* Legacy iOS */
}


@font-face
{
    font-family: 'RobotoCondensedBold';
    src: url('font/robotocondensedbold.eot'); /* IE9 Compat Modes */
    src: url('font/robotocondensedbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/robotocondensedbold.ttf') format('truetype'); /* Legacy iOS */
}


@font-face
{
    font-family: 'SegoeUI';
    src: url('font/segoeui.eot'); /* IE9 Compat Modes */
    src: url('font/segoeui.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/segoeui.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'SegoeUILight';
    src: url('font/segoeuilight.eot'); /* IE9 Compat Modes */
    src: url('font/segoeuilight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/segoeuilight.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'SegoeUISemiBold';
    src: url('font/segoeuisemibold.eot'); /* IE9 Compat Modes */
    src: url('font/segoeuisemibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/segoeuisemibold.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'Tinos';
    src: url('font/tinos.eot'); /* IE9 Compat Modes */
    src: url('font/tinos.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/tinos.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'TinosBold';
    src: url('font/tinosbold.eot'); /* IE9 Compat Modes */
    src: url('font/tinosbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/tinosbold.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UtmAvo';
    src: url('font/utmavo.eot'); /* IE9 Compat Modes */
    src: url('font/utmavo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmavo.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UtmAvoBold';
    src: url('font/utmavobold.eot'); /* IE9 Compat Modes */
    src: url('font/utmavobold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmavobold.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UtmBanquer';
    src: url('font/utmbanquer.eot'); /* IE9 Compat Modes */
    src: url('font/utmbanquer.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmbanquer.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UtmBebas';
    src: url('font/utmbebas.eot'); /* IE9 Compat Modes */
    src: url('font/utmbebas.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmbebas.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UtmHelveBoldItalic';
    src: url('font/utmhelvebolditalic.eot'); /* IE9 Compat Modes */
    src: url('font/utmhelvebolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmhelvebolditalic.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UtmNeosansIntel';
    src: url('font/utmneosansintel.eot'); /* IE9 Compat Modes */
    src: url('font/utmneosansintel.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmneosansintel.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UtmNeoSansIntelBold';
    src: url('font/utmneosansintelbold.eot'); /* IE9 Compat Modes */
    src: url('font/utmneosansintelbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmneosansintelbold.ttf') format('truetype'); /* Legacy iOS */
}


@font-face
{
    font-family: 'UtmRockwell';
    src: url('font/utmrockwell.eot'); /* IE9 Compat Modes */
    src: url('font/utmrockwell.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmrockwell.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UtmSwissCondensed';
    src: url('font/utmswisscondensed.eot'); /* IE9 Compat Modes */
    src: url('font/utmswisscondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmswisscondensed.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UtmSwissCondensedBold';
    src: url('font/utmswisscondensedbold.eot'); /* IE9 Compat Modes */
    src: url('font/utmswisscondensedbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/utmswisscondensedbold.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UvnGioMayNhe';
    src: url('font/uvngiomaynhe.eot'); /* IE9 Compat Modes */
    src: url('font/uvngiomaynhe.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/uvngiomaynhe.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UvnHailong';
    src: url('font/uvnhailong.eot'); /* IE9 Compat Modes */
    src: url('font/uvnhailong.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/uvnhailong.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UvnHongHaHep';
    src: url('font/uvnhonghahep.eot'); /* IE9 Compat Modes */
    src: url('font/uvnhonghahep.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/uvnhonghahep.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UvnHongHaHepBold';
    src: url('font/uvnhonghahepbold.eot'); /* IE9 Compat Modes */
    src: url('font/uvnhonghahepbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/uvnhonghahepbold.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'UvnKechuyen3';
    src: url('font/uvnkechuyen3.eot'); /* IE9 Compat Modes */
    src: url('font/uvnkechuyen3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    
    url('font/uvnkechuyen3.ttf') format('truetype'); /* Legacy iOS */
}


@font-face
{
    font-family: 'UvnLacLongQuan';
    src: url('font/uvnlaclongquan.eot'); /* IE9 Compat Modes */
    src: url('font/uvnlaclongquan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    
    url('font/uvnlaclongquan.ttf') format('truetype'); /* Legacy iOS */
}


@font-face
{
    font-family: 'UvnLacLongQuanBold';
    src: url('font/uvnlaclongquanbold.eot'); /* IE9 Compat Modes */
    src: url('font/uvnlaclongquanbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    
    url('font/uvnlaclongquanbold.ttf') format('truetype'); /* Legacy iOS */
}



@font-face
{
    font-family: 'VnfLobster';
    src: url('font/vnflobster.eot'); /* IE9 Compat Modes */
    src: url('font/vnflobster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 
    url('font/vnflobster.ttf') format('truetype'); /* Legacy iOS */
}


@font-face
{
    font-family: 'roboto-regular';
    src: url('font/roboto-regular.eot'); /* IE9 Compat Modes */
    src: url('font/roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    
    url('font/roboto-regular.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'roboto-bold';
    src: url('font/roboto-bold.eot'); /* IE9 Compat Modes */
    src: url('font/roboto-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */

    url('font/roboto-bold.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'roboto-italic';
    src: url('font/roboto-italic.eot'); /* IE9 Compat Modes */
    src: url('font/roboto-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/roboto-italic.ttf') format('truetype'); /* Legacy iOS */
}

@font-face
{
    font-family: 'robotocondensed';
    src: url('font/robotocondensed.eot'); /* IE9 Compat Modes */
    src: url('font/robotocondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/robotocondensed.ttf') format('truetype'); /* Legacy iOS */
}
