﻿#lightbox{position: absolute;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#lightbox a{text-decoration:none}
a#loadingLink{display:inline-block;width:32px;height:32px;background:url(../images/ajax-loader.gif) no-repeat;-moz-opacity: 0.6;opacity:.60; filter: alpha(opacity=60)}
#lightbox a img{ border: none; }

#outerImageContainer{/*Nền của ảnh*/
	position: relative;
	background:url(../images/bgSlideRepeat.png) repeat;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border:solid 1px #fff;
	border-radius:5px
	}

#imageContainer{
	padding: 10px;
	}

#loadingLightBox{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{/*Các nút next,preview ở 2 bên ảnh*/
	width: 40%;
	height: 100%;
	background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	-moz-opacity: 0.6;opacity:.60; filter: alpha(opacity=60)
	}
#prevLink {left: 0; float: left;margin-left:-30px;background: url(../images/prev2.png) left 52% no-repeat;_background: url(../images/prev2.gif) left 52% no-repeat;}
#nextLink {right: 0; float: right;margin-right:-30px;background: url(../images/next2.png) right 52% no-repeat;_background: url(../images/next2.gif) right 52% no-repeat}
#prevLink:hover, #prevLink:visited:hover,#nextLink:hover, #nextLink:visited:hover {-moz-opacity: 1.0; opacity:1.00; filter: alpha(opacity=100)}

/*** START : next / previous text links ***/
#nextLinkText, #prevLinkText,#firstLinkText,#lastLinkText,#playLinkText,#pauseLinkText{
text-decoration: none;
display:inline-block;
width:28px;
height:13px;position:relative;top:4px;_top:0;
-moz-opacity: 0.8;opacity:.80; filter: alpha(opacity=80)
}
#nextLinkText:hover, #prevLinkText:hover,#firstLinkText:hover,#lastLinkText:hover,#playLinkText:hover,#pauseLinkText:hover{-moz-opacity: 1.0; opacity:1.00; filter: alpha(opacity=100)}

#firstLinkText{background:url(../images/first.png) no-repeat center;_background:url(../images/first.gif) no-repeat center;border-right:solid 1px #685e55;display:none !important}
#prevLinkText{background:url(../images/prev.png) no-repeat center;_background:url(../images/prev.gif) no-repeat center;border-left:solid 1px #2d221e;border-right:solid 1px #685e55}
#playLinkText{background:url(../images/play.png) no-repeat center;_background:url(../images/play.gif) no-repeat center;border-left:solid 1px #2d221e;border-right:solid 1px #685e55}
#pauseLinkText{background:url(../images/pause.png) no-repeat center;_background:url(../images/pause.gif) no-repeat center;border-left:solid 1px #2d221e;border-right:solid 1px #685e55}
#nextLinkText{background:url(../images/next.png) no-repeat center;_background:url(../images/next.gif) no-repeat center;border-left:solid 1px #2d221e;border-right:solid 1px #685e55}
#lastLinkText{background:url(../images/last.png.) no-repeat center;_background:url(../images/last.gif) no-repeat center;border-left:solid 1px #2d221e;display:none !important}


/*#nextLinkText{
padding-left: 20px;
}
#prevLinkText{
padding-right: 20px;
}*/
/*** END : next / previous text links ***/
/*** START : added padding when navbar is on top ***/

.ontop #imageData {
    padding-top: 5px;
}

/*** END : added padding when navbar is on top ***/

#imageDataContainer{/*Khung mô tả, các nút điều khiển*/
	font: normal 11px/25px Tahoma;color:#fff;
	margin: 0 auto;	
	position:absolute;top:10px;left:0;z-index:999;height:25px
	}

#imageData #imageDetails{ width: 30%; float: left; text-align: left;padding-left:10px}	
#imageData #navControls{ display:none!important;width: 110px;margin:auto;text-align: center;background:url(../images/bgToolRepeat.png);border-radius:0 0 5px 5px;height:25px}
#imageData #bottomNav{ width: 35%; float: right; text-align: right }

#imageData #numberDisplay{display:none!important;margin-left:0;padding-left:10px;padding-right:10px;background:url(../images/bgToolRepeat.png);display:inline-block;border-radius:0 0 5px 0}
#imageData #caption{background:url(../images/bgToolRepeat.png);display:none !important;padding-right:10px;border-radius:0 0 5px 0}
#imageData #bottomNavClose{ width: 100px;height:25px;text-align:center;display:inline-block; margin-right:10px;position:absolute; top:-38px;right:-28px;line-height:25px;border-radius:0 0 0 5px}
#imageData #bottomNavClose span{background:url(../images/close.png) no-repeat;width:100px;height:16px;display:inline-block;position:relative;top:4px}


#imageData #helpDisplay {clear: left; float: left; display: block; }

#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	display: none;
	}
	

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

* html>body .clearfix {
	display: inline-block; 
	width: 100%;
	}

* html .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
	}	
	
