﻿#HomepageLoadControl{position:relative;width:980px;margin:auto;}
#sphp .bTabnp{position:relative;float:left;}
#sphp .bTabnp .TxtInTab{color:#fff;font:16px 'robotocondensedbold';text-transform:uppercase;padding-right:75px;float:left;height:35px;padding-left:10px;
    background:url(../images/bg_cate.png) no-repeat left center;line-height:36px;}
#sphp a.CateP{float:left;display:block;font:14px 'robotocondensedbold';color:#999;text-decoration:none;line-height:20px;margin-top:7px;padding-right:18px;}
#sphp a.CateP:hover{color:#4d9eff;}
#sphp .spc{float:right;padding:0 8px;line-height:36px;display:none;}
#sphp .bdbTab{position:relative;background:#fff;margin-top:10px;height:33px;border-bottom:2px solid #4d9eff;}
#sphp .pdTab{float:left;}#sphp .sale{width:33px;height:33px;position:absolute;top:0;right:0;
    background:url(../images/sale.png) no-repeat;z-index:2;font:bold 12px/33px Arial;color:#fff;text-align:center;}
#sphp .vach{display:none;height:7px;float:left;width:112px;
   background:url(../images/bg_vach1.png) no-repeat left center;background-color:#5ca5fc;margin-top:23px;}
#sphp .xemtiep{display:block;width:70px;height:14px;
   background:url(../images/xemtiep.png);position:absolute;right:10px;top:10px;}
#sphp .xemtiep:hover{
     background:url(../images/xemtiep_hover.png);}
#spNewHome{background-color:#fff;}#spNewHome .Itemleft{width:424px;float:left;
     background:url(../images/bg_leftItem.png) repeat-y right top;padding:8px 12px 15px 12px;}
#spNewHome .Itemleft .khungAnhCrop{width:216px;height:160px;border:1px solid #fff;}
#spNewHome .Itemleft .khunganh{width:218px;height:162px;border:1px solid #ededed;float:left;margin-right:8px;margin-top:4px;}
#spNewHome .Itemleft .tensp{font:15px 'robotocondensedbold';color:#333;display:block;}#spNewHome .Itemleft .tensp:hover{color:#4d9eff;}
#spNewHome .Itemleft .ngaydang{color:#999;font:12px 'robotocondensed';margin:3px 0 3px 0;display:block;}
#spNewHome .Itemleft .mota{font:13px 'robotocondensed';}
#spNewHome .RightItem{float:left;width:258px;padding:8px 12px 15px 12px;}#spNewHome .RightItem .itemdau .khungAnhCrop{width:94px;height:72px;}
#spNewHome .RightItem .itemdau .khunganh{width:94px;height:72px;float:left;margin-right:10px;margin-top:4px;}
#spNewHome .RightItem .itemdau .tensp{font:14px 'robotocondensedbold';color:#333;display:block;max-height:40px;overflow:hidden;}
#spNewHome .RightItem .itemdau .tensp:hover{color:#4d9eff;}
#spNewHome .RightItem .itemdau .ngaydang{color:#999;font:12px 'robotocondensed';margin:1px 0 1px 0;display:block;}
#spNewHome .RightItem .tinkhac{font:15px 'robotocondensedbold';color:#333;display:block;margin-top:10px;margin-bottom:5px;}
#spNewHome .RightItem .tentinkhac{
    background:url(../images/tintuckhac_bg.png) no-repeat left 7px;color:#333;font:13px 'robotocondensed';display:block;padding-left:15px;margin-bottom:5px;max-height:35px;overflow:hidden;}
#spNewHome .RightItem .tentinkhac:hover{
    background:url(../images/tintuckhac_bg_hover.png) no-repeat left 7px;color:#4d9eff;}
#SubServiceHome{background:#fff;margin-top:15px;}
#SubServiceHome .BlockHeader{padding-top:15px;}
#SubServiceHome .Header{border-bottom:2px solid #4d9eff;height:34px;position:relative;
   background:url(../images/bg_Header.png) repeat;background:#fff;}
#SubServiceHome .Title{position:absolute;top:0;left:0;height:100%;z-index:99;}
#SubServiceHome .TextTitle{height:35px;font:bold 16px/36px "RobotoCondensed";color:#fff;text-transform:uppercase;
   background:url(../images/bg_cate.png) left center no-repeat;display:inline-block;padding:0 40px 0 10px;background-size:100%;}
#SubServiceHome .SeeMore{position:absolute;top:0;right:0;height:100%;background:#fff;z-index:99;margin-right:10px;}
#SubServiceHome .LinkSeeMore{font:normal 14px/21px "RobotoCondensed";color:#333;padding-left:5px;padding-right:15px;
   background:url(../images/icon_Plus.png) center right no-repeat;}
#SubServiceHome .BlockItems{margin-top:15px;background:#fff;padding:14px 12px 0 12px;}
#SubServiceHome .LinkSeeMore:hover{color:#4d9eff;
   background:url(../images/Plus_hover.png) center right no-repeat;}
#SubServiceHome .Item_0{float:left;}#SubServiceHome .Item_1{float:right;}
#SubServiceHome .Items{width:339px;margin-bottom:27px;}
#SubServiceHome .khungAnhCropBg{float:left;width:130px;height:96px;margin-right:9px;border:1px solid #ededed;padding:1px;}
#SubServiceHome .khungAnhCrop{width:130px;height:96px;position:relative;overflow:hidden;display:block;}
#SubServiceHome .Items:hover .khungAnhCropBg{border:1px solid #4d9eff;}#SubServiceHome .ContentItem{float:left;width:195px;}
#SubServiceHome .Text{font:normal 13px/18px "RobotoCondensedbold";color:#333;}#SubServiceHome .Items:hover .Text{color:#4d9eff;}
#SubServiceHome .InfoItem{margin-top:6px;}
#SubServiceHome .Items p{
	min-height: 80px;
}
#SubServiceHome .InfoItem b{
     background:url(../images/icon_Dot.png) center left no-repeat;padding-left:7px;font-weight:normal;font-family:'RobotoCondensedbold';}
#SubServiceHome .InfoItem ul{padding:0;margin:0;}
#SubServiceHome .InfoItem ul li{margin-bottom:3px;}
#SubServiceHome .BorderBottomTitle{
    background:url(../images/bg_BackgroundBottom.png) center left repeat-x;height:3px;margin-top:6px;}